<div class="flightBooking">
    <div class="flightBooking__content">

                    <a class="bookingBlock__content-next js-bookingNav-item" href="#" data-tooltip="#infoForNextStep">
                        <span class="icon">
                            <svg class="icon__right-arrow" width="12px" height="22px">
                                <use xlink:href="#right-arrow"></use>
                            </svg>
                        </span>
                    <span class="text">Next</span>
                </a>
    
        <div class="flightBooking__content-left js-customScroll">
            <div class="flightBooking__title">Outbound Flight</div>
            <div class="flightBooking__list">
                <div class="flightBooking__list-item">
                    <div class="flightBooking__list-item-left">
                        <div class="flightBooking__list-item-icon">
                            <svg class="icon__departures" width="21px" height="21px">
                                <use xlink:href="#departures"></use>
                            </svg>
                        </div>
                        <div class="flightBooking__list-item-caption-wr">
                            <div class="flightBooking__list-item-caption">Departure address:</div><a class="flightBooking__list-item-link" href="#">To see location on map</a>
                        </div>
                    </div>
                    <div class="flightBooking__list-item-right">
                        <div class="flightBooking__list-item-title" id="outboundFlightDeparture"></div>
                        <!--<div class="flightBooking__list-item-text">7150 Republic Airport, Farmingdale, NY 11735</div>
                        <div class="flightBooking__list-item-info">Fixed Base Operator Location To Be Confirmed</div>-->
                    </div>
                </div>
                <div class="flightBooking__list-item">
                    <div class="flightBooking__list-item-left">
                        <div class="flightBooking__list-item-icon">
                            <svg class="icon__arrival" width="21px" height="21px">
                                <use xlink:href="#arrival"></use>
                            </svg>
                        </div>
                        <div class="flightBooking__list-item-caption-wr">
                            <div class="flightBooking__list-item-caption">Arrival address:</div><a class="flightBooking__list-item-link" href="#">To see location on map</a>
                        </div>
                    </div>
                    <div class="flightBooking__list-item-right">
                        <div class="flightBooking__list-item-title" id="outboundFlightArrival"></div>
                        <!--<div class="flightBooking__list-item-text">1 Jeff Fuqua Boulevard Orlando, Florida 32827</div>-->
                    </div>
                </div>
                <div class="flightBooking__list-item flightBooking__list-item--form" id="requestedOutboundDepartureTime">
                    <div class="flightBooking__list-item-left">
                        <div class="flightBooking__list-item-icon">
                            <svg class="icon__clock3" width="22px" height="22px">
                                <use xlink:href="#clock3"></use>
                            </svg>
                        </div>
                        <div class="flightBooking__list-item-caption">Request departure time:</div>
                    </div>
                    <div class="flightBooking__list-item-right">
                        <form class="form form--simple js-ajaxForm" action="" method="post" data-href="/" data-action="departureTime" id="departureTimeForm" onsubmit="return false;">
                            <label class="form__label form__label--text time">
                                <div class="form__field-wrapper">
                                    <input class="form__field" type="text" name="time" placeholder="12:00 AM/PM" autocomplete="off" required>
                                </div>
                            </label>
                            <!--<div class="form__label form__label--button">
                                <button class="form__button" type="submit">
                                    <span class="text">Submit</span>
                                </button>
                            </div>-->
                        </form>
                    </div>
                </div>
            </div>
            <div class="flightBooking__title">Inbound Flight</div>
            <div class="flightBooking__list">
                <div class="flightBooking__list-item">
                    <div class="flightBooking__list-item-left">
                        <div class="flightBooking__list-item-icon">
                            <svg class="icon__departures" width="21px" height="21px">
                                <use xlink:href="#departures"></use>
                            </svg>
                        </div>
                        <div class="flightBooking__list-item-caption-wr">
                            <div class="flightBooking__list-item-caption">Departure address:</div><a class="flightBooking__list-item-link" href="#">To see location on map</a>
                        </div>
                    </div>
                    <div class="flightBooking__list-item-right">
                        <div class="flightBooking__list-item-title" id="inboundFlightDeparture"></div>
                        <!--<div class="flightBooking__list-item-text">7150 Republic Airport, Farmingdale, NY 11735</div>
                        <div class="flightBooking__list-item-info">Fixed Base Operator Location To Be Confirmed</div>-->
                    </div>
                </div>
                <div class="flightBooking__list-item">
                    <div class="flightBooking__list-item-left">
                        <div class="flightBooking__list-item-icon">
                            <svg class="icon__arrival" width="21px" height="21px">
                                <use xlink:href="#arrival"></use>
                            </svg>
                        </div>
                        <div class="flightBooking__list-item-caption-wr">
                            <div class="flightBooking__list-item-caption">Arrival address:</div><a class="flightBooking__list-item-link" href="#">To see location on map</a>
                        </div>
                    </div>
                    <div class="flightBooking__list-item-right">
                        <div class="flightBooking__list-item-title" id="inboundFlightArrival"></div>
                        <!--<div class="flightBooking__list-item-text">1 Jeff Fuqua Boulevard Orlando, Florida 32827</div>-->
                    </div>
                </div>
                <div class="flightBooking__list-item flightBooking__list-item--form" id="requestedInboundDepartureTime">
                    <div class="flightBooking__list-item-left">
                        <div class="flightBooking__list-item-icon">
                            <svg class="icon__clock3" width="22px" height="22px">
                                <use xlink:href="#clock3"></use>
                            </svg>
                        </div>
                        <div class="flightBooking__list-item-caption">Request return time:</div>
                    </div>
                    <div class="flightBooking__list-item-right">
                        <form class="form form--simple js-ajaxForm" action="" method="post" data-href="/" data-action="arrivalTime" id="arrivalTimeForm" onsubmit="return false;">
                            <label class="form__label form__label--text time">
                                <div class="form__field-wrapper">
                                    <input class="form__field" type="text" name="time" placeholder="12:00 AM/PM" autocomplete="off" required>
                                </div>
                            </label>
                            <!--<div class="form__label form__label--button">
                                <button class="form__button" type="submit">
                                    <span class="text">Submit</span>
                                </button>
                            </div>-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="flightBooking__content-right">
            <div class="flightBooking__info">
                <article>
                    <p>
                        Requested Departure and Arrival times <b>need to be confirmed by FLYJETS and the AIRCRAFT PROVIDER.</b>
                    </p>
                    <p>
                        Requested times will be accomodated to the best of our ability. Should you wish to confirm a specific time before booking, <b>please contact us directly</b> and we will work with you to confirm
                        availability
                    </p>
                </article>
                <div class="flightBooking__info-decor">
                    <svg class="icon__line-decor-1" width="525px" height="182px">
                        <use xlink:href="#line-decor-1"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>