<div class="paymentBooking__billing-select-item js-acc-item">
    <div class="paymentBooking__billing-select-header">
        <label class="form__label form__label--radio">
            <input class="form__radio" type="radio" name="bookingPM"><i class="form__radio-icon"></i><span class="form__radio-caption paymentMethodName"></span>
        </label>
        <div class="paymentBooking__billing-select-arrow js-acc-title">
            <div class="icon">
                <svg class="icon__down-arrow" width="33px" height="33px">
                    <use xlink:href="#down-arrow"></use>
                </svg>
            </div>
        </div>
    </div>
    <!--<div class="paymentBooking__billing-select-detail js-acc-content">
        <div class="paymentBooking__billing-select-detail-close js-acc-close">
            <span class="icon">
                <svg class="icon__close" width="17px" height="17px">
                    <use xlink:href="#close"></use>
                </svg>
            </span>
        </div>
        <div class="paymentBooking__billing-select-detail-list">
            <div class="paymentBooking__billing-select-detail-item">
                <div class="paymentBooking__billing-select-detail-title">Bank name:</div>
                <div class="paymentBooking__billing-select-detail-value">Sberbank of Russia</div>
            </div>
            <div class="paymentBooking__billing-select-detail-item">
                <div class="paymentBooking__billing-select-detail-title">Account Number:</div>
                <div class="paymentBooking__billing-select-detail-value">**** **** **** 4343</div>
            </div>
            <div class="paymentBooking__billing-select-detail-item">
                <div class="paymentBooking__billing-select-detail-title">The account holders name:</div>
                <div class="paymentBooking__billing-select-detail-value">INNA OLEGOVA</div>
            </div>
            <div class="paymentBooking__billing-select-detail-item">
                <div class="paymentBooking__billing-select-detail-title">Bank address:</div>
                <div class="paymentBooking__billing-select-detail-value">19 Vavilova St., 117997 Moscow, Russia</div>
            </div>
        </div>
    </div>-->
</div>