<div class="travelersBooking__list-item js-travelers-item" data-email="">
    <div class="travelersBooking__list-item-top">
        <div class="travelersBooking__list-item-cell">
            <div class="travelersBooking__list-item-name"></div>
        </div>
        <div class="travelersBooking__list-item-cell">
            <div class="travelersBooking__list-item-info"></div>
        </div>
        <div class="travelersBooking__list-item-cell">
            <div class="travelersBooking__list-item-button-wr">
                <!--<div class="travelersBooking__list-item-edit js-editTravelers">
                    <svg class="icon__pencil" width="17px" height="18px">
                        <use xlink:href="#pencil"></use>
                    </svg>
                </div>-->
                <a class="travelersBooking__list-item-remove js-removeTravelers" href="#questionPopup">
                    <svg class="icon__close" width="17px" height="17px">
                        <use xlink:href="#close"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <!--<div class="travelersBooking__list-item-bottom js-travelers-form">
        <form class="form form--simple js-ajaxForm" action="" method="post" data-href="/" data-action="changeTraveler" onsubmit="return false;">
            <label class="form__label form__label--text">
                <div class="form__field-wrapper">
                    <input class="form__field" type="email" name="email" placeholder="Enter e-mail" value="jess@flyjets.com" required>
                </div>
            </label>
            <div class="form__label form__label--button">
                <button class="form__button" type="submit">
                    <span class="text">Change</span><span class="icon">
                        <svg class="icon__checked" width="19px" height="19px">
                            <use xlink:href="#checked"></use>
                        </svg>
                    </span>
                </button>
            </div>
        </form>
    </div>-->
</div>