<div class="paymentBooking">
    <div class="paymentBooking__content">
            <a class="bookingBlock__content-prev js-bookingNav-item" href="#">
                    <span class="icon">
                        <svg class="icon__left-arrow" width="24px" height="24px">
                            <use xlink:href="#left-arrow"></use>
                        </svg>
                    </span>
                    <span class="text">Back</span></a>

        <div class="paymentBooking__content-left">
            <div class="paymentBooking__title">Estimated Trip Cost Summary</div>
            <div class="paymentBooking__inner js-customScroll">
                <div class="paymentBooking__cost">
                    <div class="paymentBooking__cost-list">
                        <div class="paymentBooking__cost-list-item">
                            <div class="paymentBooking__cost-list-title">Flight:</div>
                            <div class="paymentBooking__cost-list-value" id="excelusiveCost">$</div>
                        </div>
                        <div class="paymentBooking__cost-list-item">
                            <div class="paymentBooking__cost-list-title"><span class="paymentBlock__cost-list-caption">Fee:</span></div>
                            <div class="paymentBooking__cost-list-value" id="fees">$</div>
                        </div>
                        <!--<div class="paymentBooking__cost-list-item">
                        <div class="paymentBooking__cost-list-title">FLY<b>Rewards</b>:</div>
                        <div class="paymentBooking__cost-list-value">$150</div>
                    </div>-->
                        <div class="paymentBooking__cost-list-item">
                            <div class="paymentBooking__cost-list-title">Tax:</div>
                            <div class="paymentBooking__cost-list-value" id="tax">$</div>
                        </div>
                        <div class="paymentBooking__cost-list-item paymentBooking__cost-list-item--total">
                            <div class="paymentBooking__cost-list-title">Total:</div>
                            <div class="paymentBooking__cost-list-value" id="totalCost">$</div>
                        </div>
                    </div><!--<a class="paymentBooking__cost-link" href="#">Split payment with group of X travelers</a><a class="paymentBooking__cost-button" href="#"><span class="text">Transfer payment</span></a>-->
                </div>
            </div>
        </div>
        <div class="paymentBooking__content-right">
            <div class="paymentBooking__title">Your information will be sent to our admin for review</div>
            <div class="paymentBooking__inner js-customScroll">
                <div class="paymentBooking__billing">
                  We'll get back to you with a proper confirmation upon correspondence with the provider. Thank you for booking with FLYJETS
                </div>
            </div>
        </div>
    </div>
</div>
