<div class="confirmationBooking">
    <div class="confirmationBooking__content">
            <a class="bookingBlock__content-prev js-bookingNav-item" href="#">
                <span class="icon">
                    <svg class="icon__left-arrow" width="24px" height="24px">
                        <use xlink:href="#left-arrow"></use>
                    </svg>
                </span>
                <span class="text">Back</span>
            </a>
    
        <div class="confirmationBooking__content-left js-customScroll">
            <!--<div class="confirmationBooking__list">
                <div class="confirmationBooking__list-item confirmationBooking__list-item--flight">
                    <div class="confirmationBooking__title">Flight details</div>
                    <div class="confirmationBooking__inner">
                        <div class="flightBooking__list">
                            <div class="flightBooking__list-item">
                                <div class="flightBooking__list-item-left">
                                    <div class="flightBooking__list-item-icon">
                                        <svg class="icon__ticket" width="23px" height="23px">
                                            <use xlink:href="#ticket"></use>
                                        </svg>
                                    </div>
                                    <div class="flightBooking__list-item-caption">Tail number:</div>
                                </div>
                                <div class="flightBooking__list-item-right">
                                    <div class="flightBooking__list-item-title">56HNkyt</div>
                                </div>
                            </div>
                            <div class="flightBooking__list-item">
                                <div class="flightBooking__list-item-left">
                                    <div class="flightBooking__list-item-icon">
                                        <svg class="icon__operator" width="18px" height="18px">
                                            <use xlink:href="#operator"></use>
                                        </svg>
                                    </div>
                                    <div class="flightBooking__list-item-caption">Operator:</div>
                                </div>
                                <div class="flightBooking__list-item-right">
                                    <div class="flightBooking__list-item-title">FLY&nbsp;JETS</div>
                                    <div class="flightBooking__list-item-text flightBooking__list-item-text--small">
                                        247&nbsp;Name&nbsp;Street, 123&nbsp;floor,
                                        <br>New&nbsp;York&nbsp;NY&nbsp;18001,
                                        <br>(1232)&nbsp;567-765-45
                                    </div>
                                </div>
                            </div>
                            <div class="flightBooking__list-item">
                                <div class="flightBooking__list-item-left">
                                    <div class="flightBooking__list-item-icon">
                                        <svg class="icon__departures" width="21px" height="21px">
                                            <use xlink:href="#departures"></use>
                                        </svg>
                                    </div>
                                    <div class="flightBooking__list-item-caption-wr">
                                        <div class="flightBooking__list-item-caption">Departure address:</div><a class="flightBooking__list-item-link" href="#">To see location on map</a>
                                    </div>
                                </div>
                                <div class="flightBooking__list-item-right">
                                    <div class="flightBooking__list-item-title">Republic Airport (KFRG)</div>
                                    <div class="flightBooking__list-item-text">7150 Republic Airport, Farmingdale, NY 11735</div>
                                    <div class="flightBooking__list-item-info">Fixed Base Operator Location To Be Confirmed</div>
                                </div>
                            </div>
                            <div class="flightBooking__list-item">
                                <div class="flightBooking__list-item-left">
                                    <div class="flightBooking__list-item-icon">
                                        <svg class="icon__arrival" width="21px" height="21px">
                                            <use xlink:href="#arrival"></use>
                                        </svg>
                                    </div>
                                    <div class="flightBooking__list-item-caption-wr">
                                        <div class="flightBooking__list-item-caption">Arrival address:</div><a class="flightBooking__list-item-link" href="#">To see location on map</a>
                                    </div>
                                </div>
                                <div class="flightBooking__list-item-right">
                                    <div class="flightBooking__list-item-title">Orlando International Airport (KMCO)</div>
                                    <div class="flightBooking__list-item-text">1 Jeff Fuqua Boulevard Orlando, Florida 32827</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="confirmationBooking__list-item confirmationBooking__list-item--payment">
                    <div class="confirmationBooking__title">Payments detail</div>
                    <div class="confirmationBooking__inner">
                        <div class="paymentBooking__cost-list">
                            <div class="paymentBooking__cost-list-item">
                                <div class="paymentBooking__cost-list-title">Flight:</div>
                                <div class="paymentBooking__cost-list-value">$15,000.00</div>
                            </div>
                            <div class="paymentBooking__cost-list-item">
                                <div class="paymentBooking__cost-list-title"><span class="paymentBlock__cost-list-caption">Fee:</span>FLYJETS & The Fly Foundation:</div>
                                <div class="paymentBooking__cost-list-value">$750</div>
                            </div>
                            <div class="paymentBooking__cost-list-item">
                                <div class="paymentBooking__cost-list-title">FLY<b>Rewards</b>:</div>
                                <div class="paymentBooking__cost-list-value">$150</div>
                            </div>
                            <div class="paymentBooking__cost-list-item">
                                <div class="paymentBooking__cost-list-title">Tax:</div>
                                <div class="paymentBooking__cost-list-value">$1,150.00</div>
                            </div>
                            <div class="paymentBooking__cost-list-item paymentBooking__cost-list-item--total">
                                <div class="paymentBooking__cost-list-title">Total:</div>
                                <div class="paymentBooking__cost-list-value">$16,875.00</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="confirmationBooking__list-item confirmationBooking__list-item--billing">
                    <div class="confirmationBooking__title">Billing detail</div>
                    <div class="confirmationBooking__inner">
                        <div class="paymentBooking__billing-detail">
                            <div class="paymentBooking__billing-detail-item">
                                <div class="paymentBooking__billing-detail-title">Card type:</div>
                                <div class="paymentBooking__billing-detail-value">MasterCard</div>
                            </div>
                            <div class="paymentBooking__billing-detail-item">
                                <div class="paymentBooking__billing-detail-title">Card number:</div>
                                <div class="paymentBooking__billing-detail-value">**** **** **** 3211</div>
                            </div>
                            <div class="paymentBooking__billing-detail-item">
                                <div class="paymentBooking__billing-detail-title">Card holder:</div>
                                <div class="paymentBooking__billing-detail-value">INNA OLEGOVA</div>
                            </div>
                            <div class="paymentBooking__billing-detail-item">
                                <div class="paymentBooking__billing-detail-title">Billing address:</div>
                                <div class="paymentBooking__billing-detail-value">
                                    678 Broadway, 9th floor
                                    <Br>New York, NY 10003, US
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="confirmationBooking__list-item confirmationBooking__list-item--travelers">
                    <div class="confirmationBooking__title">Travelers info</div>
                    <div class="confirmationBooking__inner">
                        <div class="confirmationBooking__travelers">
                            <div class="travelersBooking__empty js-travelers-empty">no travelers</div>
                            <div class="travelersBooking__header js-travelers-header">
                                <div class="travelersBooking__header-item">Traveller</div>
                                <div class="travelersBooking__header-item">Ticket</div>
                                <div class="travelersBooking__header-item">Seat</div>
                                <div class="travelersBooking__header-item">Email</div>
                            </div>
                            <div class="travelersBooking__list">
                                <div class="travelersBooking__list-item js-travelers-item">
                                    <div class="travelersBooking__list-item-top">
                                        <div class="travelersBooking__list-item-cell">
                                            <div class="travelersBooking__list-item-avatar" style="background-image:url('/img/content/avatar.jpg')"></div>
                                            <div class="travelersBooking__list-item-name">Jessica Leigh Fisher</div>
                                        </div>
                                        <div class="travelersBooking__list-item-cell">
                                            <div class="travelersBooking__list-item-text">ERER31</div>
                                        </div>
                                        <div class="travelersBooking__list-item-cell">
                                            <div class="travelersBooking__list-item-text">1</div>
                                        </div>
                                        <div class="travelersBooking__list-item-cell">
                                            <div class="travelersBooking__list-item-text">User@gmail.com</div>
                                            <div class="travelersBooking__list-item-button-wr">
                                                <a class="travelersBooking__list-item-remove js-removeTravelers" href="#questionPopup">
                                                    <svg class="icon__close" width="17px" height="17px">
                                                        <use xlink:href="#close"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="travelersBooking__list-item js-travelers-item">
                                    <div class="travelersBooking__list-item-top">
                                        <div class="travelersBooking__list-item-cell">
                                            <div class="travelersBooking__list-item-avatar" style="background-image:url('/img/content/avatar.jpg')"></div>
                                            <div class="travelersBooking__list-item-name">Amanda Shtern</div>
                                        </div>
                                        <div class="travelersBooking__list-item-cell">
                                            <div class="travelersBooking__list-item-text">GHHJ66D</div>
                                        </div>
                                        <div class="travelersBooking__list-item-cell">
                                            <div class="travelersBooking__list-item-text">2</div>
                                        </div>
                                        <div class="travelersBooking__list-item-cell">
                                            <div class="travelersBooking__list-item-text">User@gmail.com</div>
                                            <div class="travelersBooking__list-item-button-wr">
                                                <a class="travelersBooking__list-item-remove js-removeTravelers" href="#questionPopup">
                                                    <svg class="icon__close" width="17px" height="17px">
                                                        <use xlink:href="#close"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="travelersBooking__list-item js-travelers-item">
                                    <div class="travelersBooking__list-item-top">
                                        <div class="travelersBooking__list-item-cell">
                                            <div class="travelersBooking__list-item-avatar" style="background-image:url('/img/content/avatar.jpg')"></div>
                                            <div class="travelersBooking__list-item-name">John Rem</div>
                                        </div>
                                        <div class="travelersBooking__list-item-cell">
                                            <div class="travelersBooking__list-item-text">RTRGFG45</div>
                                        </div>
                                        <div class="travelersBooking__list-item-cell">
                                            <div class="travelersBooking__list-item-text">1</div>
                                        </div>
                                        <div class="travelersBooking__list-item-cell">
                                            <div class="travelersBooking__list-item-text">User@gmail.com</div>
                                            <div class="travelersBooking__list-item-button-wr">
                                                <a class="travelersBooking__list-item-remove js-removeTravelers" href="#questionPopup">
                                                    <svg class="icon__close" width="17px" height="17px">
                                                        <use xlink:href="#close"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="travelersBooking__list-item js-travelers-item">
                                    <div class="travelersBooking__list-item-top">
                                        <div class="travelersBooking__list-item-cell">
                                            <div class="travelersBooking__list-item-avatar" style="background-image:url('/img/content/avatar.jpg')"></div>
                                            <div class="travelersBooking__list-item-name">Kate Mary Braun</div>
                                        </div>
                                        <div class="travelersBooking__list-item-cell">
                                            <div class="travelersBooking__list-item-text">DFDFEF455</div>
                                        </div>
                                        <div class="travelersBooking__list-item-cell">
                                            <div class="travelersBooking__list-item-text">3</div>
                                        </div>
                                        <div class="travelersBooking__list-item-cell">
                                            <div class="travelersBooking__list-item-text">User@gmail.com</div>
                                            <div class="travelersBooking__list-item-button-wr">
                                                <a class="travelersBooking__list-item-remove js-removeTravelers" href="#questionPopup">
                                                    <svg class="icon__close" width="17px" height="17px">
                                                        <use xlink:href="#close"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="confirmationBooking__list-item confirmationBooking__list-item--aircraft">
                    <div class="confirmationBooking__title">Aircraft</div>
                    <div class="confirmationBooking__inner">
                        <div class="confirmationBooking__aircraft">
                            <div class="confirmationBooking__aircraft-title">Gulfstream 500 (G500)</div>
                            <div class="confirmationBooking__aircraft-slider js-confirmationSlider">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <a class="confirmationBooking__aircraft-slider-item" data-fancybox="detailGallery" href="/img/assets/aircraftDetail/1.jpg" style="background-image:url('/img/assets/aircraftDetail/1.jpg')">
                                                <div class="confirmationBooking__aircraft-slider-item-back">
                                                    <span class="confirmationBooking__aircraft-slider-item-icon"><svg width="488.85" height="488.85" viewBox="0 0 488.85 488.85"><defs><linearGradient id="eyeG" x1="244.425" y1="0" x2="244.425" y2="488.85" gradientUnits="userSpaceOnUse"><stop stop-color="#41FB96" /><stop offset="1" stop-color="#12A053" /></linearGradient></defs><path d="M244.425,98.725c-93.4,0-178.1,51.1-240.6,134.1c-5.1,6.8-5.1,16.3,0,23.1c62.5,83.1,147.2,134.2,240.6,134.2s178.1-51.1,240.6-134.1c5.1-6.8,5.1-16.3,0-23.1C422.525,149.825,337.825,98.725,244.425,98.725z M251.125,347.025c-62,3.9-113.2-47.2-109.3-109.3c3.2-51.2,44.7-92.7,95.9-95.9c62-3.9,113.2,47.2,109.3,109.3C343.725,302.225,302.225,343.725,251.125,347.025z M248.025,299.625c-33.4,2.1-61-25.4-58.8-58.8c1.7-27.6,24.1-49.9,51.7-51.7c33.4-2.1,61,25.4,58.8,58.8C297.925,275.625,275.525,297.925,248.025,299.625z" fill="url(#eyeG)" /></svg></span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a class="confirmationBooking__aircraft-slider-item" data-fancybox="detailGallery" href="/img/assets/aircraftDetail/2.jpg" style="background-image:url('/img/assets/aircraftDetail/2.jpg')">
                                                <div class="confirmationBooking__aircraft-slider-item-back">
                                                    <span class="confirmationBooking__aircraft-slider-item-icon"><svg width="488.85" height="488.85" viewBox="0 0 488.85 488.85"><defs><linearGradient id="eyeG" x1="244.425" y1="0" x2="244.425" y2="488.85" gradientUnits="userSpaceOnUse"><stop stop-color="#41FB96" /><stop offset="1" stop-color="#12A053" /></linearGradient></defs><path d="M244.425,98.725c-93.4,0-178.1,51.1-240.6,134.1c-5.1,6.8-5.1,16.3,0,23.1c62.5,83.1,147.2,134.2,240.6,134.2s178.1-51.1,240.6-134.1c5.1-6.8,5.1-16.3,0-23.1C422.525,149.825,337.825,98.725,244.425,98.725z M251.125,347.025c-62,3.9-113.2-47.2-109.3-109.3c3.2-51.2,44.7-92.7,95.9-95.9c62-3.9,113.2,47.2,109.3,109.3C343.725,302.225,302.225,343.725,251.125,347.025z M248.025,299.625c-33.4,2.1-61-25.4-58.8-58.8c1.7-27.6,24.1-49.9,51.7-51.7c33.4-2.1,61,25.4,58.8,58.8C297.925,275.625,275.525,297.925,248.025,299.625z" fill="url(#eyeG)" /></svg></span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a class="confirmationBooking__aircraft-slider-item" data-fancybox="detailGallery" href="/img/assets/aircraftDetail/3.jpg" style="background-image:url('/img/assets/aircraftDetail/3.jpg')">
                                                <div class="confirmationBooking__aircraft-slider-item-back">
                                                    <span class="confirmationBooking__aircraft-slider-item-icon"><svg width="488.85" height="488.85" viewBox="0 0 488.85 488.85"><defs><linearGradient id="eyeG" x1="244.425" y1="0" x2="244.425" y2="488.85" gradientUnits="userSpaceOnUse"><stop stop-color="#41FB96" /><stop offset="1" stop-color="#12A053" /></linearGradient></defs><path d="M244.425,98.725c-93.4,0-178.1,51.1-240.6,134.1c-5.1,6.8-5.1,16.3,0,23.1c62.5,83.1,147.2,134.2,240.6,134.2s178.1-51.1,240.6-134.1c5.1-6.8,5.1-16.3,0-23.1C422.525,149.825,337.825,98.725,244.425,98.725z M251.125,347.025c-62,3.9-113.2-47.2-109.3-109.3c3.2-51.2,44.7-92.7,95.9-95.9c62-3.9,113.2,47.2,109.3,109.3C343.725,302.225,302.225,343.725,251.125,347.025z M248.025,299.625c-33.4,2.1-61-25.4-58.8-58.8c1.7-27.6,24.1-49.9,51.7-51.7c33.4-2.1,61,25.4,58.8,58.8C297.925,275.625,275.525,297.925,248.025,299.625z" fill="url(#eyeG)" /></svg></span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a class="confirmationBooking__aircraft-slider-item" data-fancybox="detailGallery" href="/img/assets/aircraftDetail/4.jpg" style="background-image:url('/img/assets/aircraftDetail/4.jpg')">
                                                <div class="confirmationBooking__aircraft-slider-item-back">
                                                    <span class="confirmationBooking__aircraft-slider-item-icon"><svg width="488.85" height="488.85" viewBox="0 0 488.85 488.85"><defs><linearGradient id="eyeG" x1="244.425" y1="0" x2="244.425" y2="488.85" gradientUnits="userSpaceOnUse"><stop stop-color="#41FB96" /><stop offset="1" stop-color="#12A053" /></linearGradient></defs><path d="M244.425,98.725c-93.4,0-178.1,51.1-240.6,134.1c-5.1,6.8-5.1,16.3,0,23.1c62.5,83.1,147.2,134.2,240.6,134.2s178.1-51.1,240.6-134.1c5.1-6.8,5.1-16.3,0-23.1C422.525,149.825,337.825,98.725,244.425,98.725z M251.125,347.025c-62,3.9-113.2-47.2-109.3-109.3c3.2-51.2,44.7-92.7,95.9-95.9c62-3.9,113.2,47.2,109.3,109.3C343.725,302.225,302.225,343.725,251.125,347.025z M248.025,299.625c-33.4,2.1-61-25.4-58.8-58.8c1.7-27.6,24.1-49.9,51.7-51.7c33.4-2.1,61,25.4,58.8,58.8C297.925,275.625,275.525,297.925,248.025,299.625z" fill="url(#eyeG)" /></svg></span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a class="confirmationBooking__aircraft-slider-item" data-fancybox="detailGallery" href="/img/assets/aircraftDetail/1.jpg" style="background-image:url('/img/assets/aircraftDetail/1.jpg')">
                                                <div class="confirmationBooking__aircraft-slider-item-back">
                                                    <span class="confirmationBooking__aircraft-slider-item-icon"><svg width="488.85" height="488.85" viewBox="0 0 488.85 488.85"><defs><linearGradient id="eyeG" x1="244.425" y1="0" x2="244.425" y2="488.85" gradientUnits="userSpaceOnUse"><stop stop-color="#41FB96" /><stop offset="1" stop-color="#12A053" /></linearGradient></defs><path d="M244.425,98.725c-93.4,0-178.1,51.1-240.6,134.1c-5.1,6.8-5.1,16.3,0,23.1c62.5,83.1,147.2,134.2,240.6,134.2s178.1-51.1,240.6-134.1c5.1-6.8,5.1-16.3,0-23.1C422.525,149.825,337.825,98.725,244.425,98.725z M251.125,347.025c-62,3.9-113.2-47.2-109.3-109.3c3.2-51.2,44.7-92.7,95.9-95.9c62-3.9,113.2,47.2,109.3,109.3C343.725,302.225,302.225,343.725,251.125,347.025z M248.025,299.625c-33.4,2.1-61-25.4-58.8-58.8c1.7-27.6,24.1-49.9,51.7-51.7c33.4-2.1,61,25.4,58.8,58.8C297.925,275.625,275.525,297.925,248.025,299.625z" fill="url(#eyeG)" /></svg></span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a class="confirmationBooking__aircraft-slider-item" data-fancybox="detailGallery" href="/img/assets/aircraftDetail/2.jpg" style="background-image:url('/img/assets/aircraftDetail/2.jpg')">
                                                <div class="confirmationBooking__aircraft-slider-item-back">
                                                    <span class="confirmationBooking__aircraft-slider-item-icon"><svg width="488.85" height="488.85" viewBox="0 0 488.85 488.85"><defs><linearGradient id="eyeG" x1="244.425" y1="0" x2="244.425" y2="488.85" gradientUnits="userSpaceOnUse"><stop stop-color="#41FB96" /><stop offset="1" stop-color="#12A053" /></linearGradient></defs><path d="M244.425,98.725c-93.4,0-178.1,51.1-240.6,134.1c-5.1,6.8-5.1,16.3,0,23.1c62.5,83.1,147.2,134.2,240.6,134.2s178.1-51.1,240.6-134.1c5.1-6.8,5.1-16.3,0-23.1C422.525,149.825,337.825,98.725,244.425,98.725z M251.125,347.025c-62,3.9-113.2-47.2-109.3-109.3c3.2-51.2,44.7-92.7,95.9-95.9c62-3.9,113.2,47.2,109.3,109.3C343.725,302.225,302.225,343.725,251.125,347.025z M248.025,299.625c-33.4,2.1-61-25.4-58.8-58.8c1.7-27.6,24.1-49.9,51.7-51.7c33.4-2.1,61,25.4,58.8,58.8C297.925,275.625,275.525,297.925,248.025,299.625z" fill="url(#eyeG)" /></svg></span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a class="confirmationBooking__aircraft-slider-item" data-fancybox="detailGallery" href="/img/assets/aircraftDetail/3.jpg" style="background-image:url('/img/assets/aircraftDetail/3.jpg')">
                                                <div class="confirmationBooking__aircraft-slider-item-back">
                                                    <span class="confirmationBooking__aircraft-slider-item-icon"><svg width="488.85" height="488.85" viewBox="0 0 488.85 488.85"><defs><linearGradient id="eyeG" x1="244.425" y1="0" x2="244.425" y2="488.85" gradientUnits="userSpaceOnUse"><stop stop-color="#41FB96" /><stop offset="1" stop-color="#12A053" /></linearGradient></defs><path d="M244.425,98.725c-93.4,0-178.1,51.1-240.6,134.1c-5.1,6.8-5.1,16.3,0,23.1c62.5,83.1,147.2,134.2,240.6,134.2s178.1-51.1,240.6-134.1c5.1-6.8,5.1-16.3,0-23.1C422.525,149.825,337.825,98.725,244.425,98.725z M251.125,347.025c-62,3.9-113.2-47.2-109.3-109.3c3.2-51.2,44.7-92.7,95.9-95.9c62-3.9,113.2,47.2,109.3,109.3C343.725,302.225,302.225,343.725,251.125,347.025z M248.025,299.625c-33.4,2.1-61-25.4-58.8-58.8c1.7-27.6,24.1-49.9,51.7-51.7c33.4-2.1,61,25.4,58.8,58.8C297.925,275.625,275.525,297.925,248.025,299.625z" fill="url(#eyeG)" /></svg></span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a class="confirmationBooking__aircraft-slider-item" data-fancybox="detailGallery" href="/img/assets/aircraftDetail/4.jpg" style="background-image:url('/img/assets/aircraftDetail/4.jpg')">
                                                <div class="confirmationBooking__aircraft-slider-item-back">
                                                    <span class="confirmationBooking__aircraft-slider-item-icon"><svg width="488.85" height="488.85" viewBox="0 0 488.85 488.85"><defs><linearGradient id="eyeG" x1="244.425" y1="0" x2="244.425" y2="488.85" gradientUnits="userSpaceOnUse"><stop stop-color="#41FB96" /><stop offset="1" stop-color="#12A053" /></linearGradient></defs><path d="M244.425,98.725c-93.4,0-178.1,51.1-240.6,134.1c-5.1,6.8-5.1,16.3,0,23.1c62.5,83.1,147.2,134.2,240.6,134.2s178.1-51.1,240.6-134.1c5.1-6.8,5.1-16.3,0-23.1C422.525,149.825,337.825,98.725,244.425,98.725z M251.125,347.025c-62,3.9-113.2-47.2-109.3-109.3c3.2-51.2,44.7-92.7,95.9-95.9c62-3.9,113.2,47.2,109.3,109.3C343.725,302.225,302.225,343.725,251.125,347.025z M248.025,299.625c-33.4,2.1-61-25.4-58.8-58.8c1.7-27.6,24.1-49.9,51.7-51.7c33.4-2.1,61,25.4,58.8,58.8C297.925,275.625,275.525,297.925,248.025,299.625z" fill="url(#eyeG)" /></svg></span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-nav">
                                    <div class="swiper-button-prev">
                                        <svg class="icon__up-arrow" width="33px" height="33px">
                                            <use xlink:href="#up-arrow"></use>
                                        </svg>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                    <div class="swiper-button-next">
                                        <svg class="icon__down-arrow" width="33px" height="33px">
                                            <use xlink:href="#down-arrow"></use>
                                        </svg>
                                    </div>
                                </div>
                                <div class="swiper-text">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam</div>
                            </div>
                            <div class="confirmationBooking__aircraft-list">
                                <div class="confirmationBooking__aircraft-list-item">
                                    <div class="confirmationBooking__aircraft-list-item-icon">
                                        <svg class="icon__aeroplane" width="17px" height="17px">
                                            <use xlink:href="#aeroplane"></use>
                                        </svg>
                                    </div>
                                    <div class="confirmationBooking__aircraft-list-item-text">
                                        <span class="confirmationBooking__aircraft-list-item-title"> Aircraft Type:&ensp;</span><span class="confirmationBooking__aircraft-list-item-value">Heavy Jet</span>
                                    </div>
                                </div>
                                <div class="confirmationBooking__aircraft-list-item">
                                    <div class="confirmationBooking__aircraft-list-item-icon">
                                        <svg class="icon__protection" width="17px" height="17px">
                                            <use xlink:href="#protection"></use>
                                        </svg>
                                    </div>
                                    <div class="confirmationBooking__aircraft-list-item-text">
                                        <span class="confirmationBooking__aircraft-list-item-title">Operator Safety Rating:&ensp;</span><span class="confirmationBooking__aircraft-list-item-value">560</span>
                                    </div>
                                </div>
                                <div class="confirmationBooking__aircraft-list-item">
                                    <div class="confirmationBooking__aircraft-list-item-icon">
                                        <svg class="icon__placeholder2" width="18px" height="18px">
                                            <use xlink:href="#placeholder2"></use>
                                        </svg>
                                    </div>
                                    <div class="confirmationBooking__aircraft-list-item-text">
                                        <span class="confirmationBooking__aircraft-list-item-title">Home base:&ensp;</span><span class="confirmationBooking__aircraft-list-item-value">value</span>
                                    </div>
                                </div>
                                <div class="confirmationBooking__aircraft-list-item">
                                    <div class="confirmationBooking__aircraft-list-item-icon">
                                        <svg class="icon__moving" width="16px" height="16px">
                                            <use xlink:href="#moving"></use>
                                        </svg>
                                    </div>
                                    <div class="confirmationBooking__aircraft-list-item-text">
                                        <span class="confirmationBooking__aircraft-list-item-title">Max Passengers:&ensp;</span><span class="confirmationBooking__aircraft-list-item-value">Heavy Jet</span>
                                    </div>
                                </div>
                                <div class="confirmationBooking__aircraft-list-item">
                                    <div class="confirmationBooking__aircraft-list-item-icon">
                                        <svg class="icon__clock" width="17px" height="17px">
                                            <use xlink:href="#clock"></use>
                                        </svg>
                                    </div>
                                    <div class="confirmationBooking__aircraft-list-item-text">
                                        <span class="confirmationBooking__aircraft-list-item-title">Hours Flown:&ensp;</span><span class="confirmationBooking__aircraft-list-item-value">Heavy Jet</span>
                                    </div>
                                </div>
                                <div class="confirmationBooking__aircraft-list-item">
                                    <div class="confirmationBooking__aircraft-list-item-icon">
                                        <svg class="icon__open-folder" width="18px" height="18px">
                                            <use xlink:href="#open-folder"></use>
                                        </svg>
                                    </div>
                                    <div class="confirmationBooking__aircraft-list-item-text">
                                        <span class="confirmationBooking__aircraft-list-item-title">Insurance:&ensp;</span><a class="confirmationBooking__aircraft-list-item-link" href="#">clickable area</a>
                                    </div>
                                </div>
                                <div class="confirmationBooking__aircraft-list-item">
                                    <div class="confirmationBooking__aircraft-list-item-icon">
                                        <svg class="icon__speedometer" width="18px" height="18px">
                                            <use xlink:href="#speedometer"></use>
                                        </svg>
                                    </div>
                                    <div class="confirmationBooking__aircraft-list-item-text">
                                        <span class="confirmationBooking__aircraft-list-item-title">Speed:&ensp;</span><span class="confirmationBooking__aircraft-list-item-value">Heavy Jet</span>
                                    </div>
                                </div>
                                <div class="confirmationBooking__aircraft-list-item">
                                    <div class="confirmationBooking__aircraft-list-item-icon">
                                        <svg class="icon__mountains" width="19px" height="19px">
                                            <use xlink:href="#mountains"></use>
                                        </svg>
                                    </div>
                                    <div class="confirmationBooking__aircraft-list-item-text">
                                        <span class="confirmationBooking__aircraft-list-item-title">Range:&ensp;</span><span class="confirmationBooking__aircraft-list-item-value">Heavy Jet</span>
                                    </div>
                                </div>
                                <div class="confirmationBooking__aircraft-list-item">
                                    <div class="confirmationBooking__aircraft-list-item-icon">
                                        <svg class="icon__clock2" width="17px" height="17px">
                                            <use xlink:href="#clock2"></use>
                                        </svg>
                                    </div>
                                    <div class="confirmationBooking__aircraft-list-item-text">
                                        <span class="confirmationBooking__aircraft-list-item-title">Year of Manufacture:&ensp;</span><span class="confirmationBooking__aircraft-list-item-value">value</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="confirmationBooking__list-item confirmationBooking__list-item--terms">
                    <div class="confirmationBooking__title">Terms of use</div>
                    <div class="confirmationBooking__inner">
                        <article>
                            <p>
                                PLEASE READ THESE TERMS AND CONDITIONS OF SERVICE CAREFULLY AS THEY CONTAIN IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS, REMEDIES AND OBLIGATIONS. THESE INCLUDE VARIOUS LIMITATIONS
                                AND EXCLUSIONS, AND A CLAUSE THAT GOVERNS THE PROCEDURE, JURISDICTION AND VENUE OF DISPUTES.
                            </p>
                            <p>1. CONTRACTUAL RELATIONSHIP</p>
                            <p>
                                These Terms and Conditions (together with the FLYJETS Privacy Policy, the "Terms") govern the access or use by you, an individual, from within the United States and its territories
                                and possessions, of applications, websites, content, products, and services from FLY I Corporation, its parents, subsidiaries and affiliates (collectively "FLYJETS"). In this
                                Agreement, the words "including" and "include" mean "including, but not limited to."
                            </p>
                            <p>
                                Your access and use of the services provided by FLYJETS constitutes your agreement to be bound by these Terms, which establish a contractual relationship between you and FLYJETS.
                                If you do not agree to these Terms, you may not access or use these services. These Terms expressly supersede any prior agreements or arrangements with you. FLYJETS may immediately
                                terminate these Terms or any services offered with respect to you, or generally cease offering or deny access to the services or any portion thereof, at any time, for any reason
                                or no reason.
                            </p>
                            <p>
                                Supplemental terms may apply to certain services, such as policies for a particular event, activity or promotion, and such supplemental terms will be disclosed to you in connection
                                with the applicable services. Supplemental terms are in addition to, and shall be deemed a part of, the Terms for the purposes of the applicable services. Supplemental terms shall
                                prevail over these Terms in the event of a conflict.
                            </p>
                            <p>FLYJETS may amend the Terms related to the services from time to time</p>
                        </article>
                    </div>
                </div>
            </div>-->
            <a class="confirmationBooking__button js-popup" href="" id="confirmBooking"><span class="text">Confirmation</span></a>
        </div>
        <div class="confirmationBooking__content-right">
            <div class="confirmationBooking__content-right-inner">
                <div class="confirmationBooking__info">
                    <div class="confirmationBooking__info-icon">
                        <svg class="icon__message" width="25px" height="25px">
                            <use xlink:href="#message"></use>
                        </svg>
                    </div>
                    <div class="confirmationBooking__info-text">The confirmation is displayed on the tab and sent to the user by email after the booking process and payment iscompleted.</div>
                </div><a class="confirmationBooking__link" href="#">
                    <span class="confirmationBooking__link-icon">
                        <svg class="icon__printer" width="25px" height="25px">
                            <use xlink:href="#printer"></use>
                        </svg>
                    </span><span class="confirmationBooking__link-text">Print this information</span>
                </a>
            </div>
        </div>
    </div>
</div>
