<div class="requestsDashboard__table-row js-request" id="1">
    <div class="requestsDashboard__table-row-inner">
        <div class="requestsDashboard__table-info">
            <div class="requestsDashboard__table-cell">
                <div class="requestsDashboard__table-index"></div>
            </div>
            <div class="requestsDashboard__table-cell">
                <a class="requestsDashboard__table-name" href="#"></a>
            </div>
            <div class="requestsDashboard__table-cell requestDate"></div>
            <div class="requestsDashboard__table-cell">
                <div class="requestsDashboard__table-title departure"></div>
            </div>
            <div class="requestsDashboard__table-cell">
                <div class="requestsDashboard__table-title arrival"></div>
            </div>
        </div>
        <a class="requestsDashboard__table-message" href="#">
            <svg class="icon__mail-footer" width="18px" height="18px">
                <use xlink:href="#mail-footer"></use>
            </svg>
        </a>
    </div>
    <div class="requestsDashboard__table-status">
        <div class="requestsDashboard__table-status-item">
            Request status: <b class="requestStatus"></b>
        </div><a class="requestsDashboard__table-status-item js-popup" data-req="" data-mod="thanks-popup thanks-popup--out-close">Additional info</a>
    </div>
</div>