<div class="dashboardBlock__content" ondragenter="return dashboardDragEnter(event)" ondrop="return dashboardDragDrop(event)" ondragover="return dashboardDragOver(event)">
    <div class="signUpDashboard">
        <div class="signUpDashboard__title">Aircraft provider sign-ups and confirms</div>
        <div class="signUpDashboard__table">
            <div class="signUpDashboard__table-header">
                <div class="signUpDashboard__table-cell">№</div>
                <div class="signUpDashboard__table-cell">Name</div>
                <div class="signUpDashboard__table-cell">Email</div>
                <div class="signUpDashboard__table-cell">Phone</div>
                <div class="signUpDashboard__table-cell">Company</div>
                <div class="signUpDashboard__table-cell">Date/time</div>
            </div>
            <div class="signUpDashboard__table-body js-customScroll">
                <div class="signUpDashboard__table-row js-acc-item">
                    <div class="signUpDashboard__table-row-inner">
                        <div class="signUpDashboard__table-row-header js-acc-title">
                            <div class="signUpDashboard__table-cell">
                                <div class="signUpDashboard__table-index accountNumber"></div>
                            </div>
                            <div class="signUpDashboard__table-cell">
                                <a class="signUpDashboard__table-name accountFullName"></a>
                            </div>
                            <div class="signUpDashboard__table-cell accountEmail"></div>
                            <div class="signUpDashboard__table-cell">
                                <div class="signUpDashboard__table-phone accountMobile"></div>
                            </div>
                            <div class="signUpDashboard__table-cell accountCompany"></div>
                            <div class="signUpDashboard__table-cell accountCreatedOn"></div>
                        </div>
                    </div>
                    <div class="signUpDashboard__table-row-control">
                                                                                  <div class="signUpDashboard__table-row-control-inner"><a class="signUpDashboard__table-link" href="#"><span class="icon">
            <svg class="icon__checkmark" width="11px" height="11px">
                <use xlink:href="#checkmark"></use>
            </svg>
        </span><span class="text accountAccept">Accept request</span></a><a class="signUpDashboard__table-link" href="#"><span class="icon">
            <svg class="icon__close-bold" width="11px" height="11px">
                <use xlink:href="#close-bold"></use>
            </svg>
        </span><span class="text">Decline request</span></a><a class="signUpDashboard__table-link" href="#"><span class="icon">
            <svg class="icon__question" width="11px" height="11px">
                <use xlink:href="#question"></use>
            </svg>
        </span><span class="text">Ask for more info</span></a>
                                                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
