<div class="dashboardBlock__content" ondragenter="return dashboardDragEnter(event)" ondrop="return dashboardDragDrop(event)" ondragover="return dashboardDragOver(event)">
  <div class="bookingDashboard bookingDashboard--admin bookingDashboard--list">
    <div class="bookingDashboard__header">
      <div class="bookingDashboard__title">Booking list</div>
    </div>
    <div class="bookingDashboard__table">
      <div class="bookingDashboard__table-header">
        <div class="bookingDashboard__table-cell">№</div>
        <div class="bookingDashboard__table-cell">Flyer name</div>
        <div class="bookingDashboard__table-cell">Booking number</div>
        <div class="bookingDashboard__table-cell">Booking date</div>
      </div>
      <div class="bookingDashboard__table-body js-customScroll">
      </div>
    </div>
  </div>
</div>
