      <div class="bookingDashboard__table-row">
        <div class="bookingDashboard__table-cell">
          <div class="bookingDashboard__table-index"></div>
        </div>
        <div class="bookingDashboard__table-cell"><span class="bookingDashboard__table-name"></span>
        </div>
        <div class="bookingDashboard__table-cell"><span class="bookingDashboard__table-caption"></span>
        </div>
        <div class="bookingDashboard__table-cell"><span class="bookingDashboard__table-date"></span><span class="bookingDashboard__table-detail">click for details</span>
        </div>
      </div>
