<div class="networkDashboard__table-row js-acc-item">
    <div class="networkDashboard__table-row-header js-acc-title">
        <div class="networkDashboard__table-cell">
            <div class="networkDashboard__table-index accountNumber"></div>
        </div>
        <div class="networkDashboard__table-cell">
            <a class="networkDashboard__table-name accountShortName"></a>
        </div>
        <div class="networkDashboard__table-cell accountEmail"></div>
        <div class="networkDashboard__table-cell">
            <div class="networkDashboard__table-phone accountMobile"></div>
        </div>
        <div class="networkDashboard__table-cell accountCreatedOn"></div>
    </div>
</div>