

@{
  Layout = null;
}

<!DOCTYPE html>
<html class="no-js" lang="ru">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>FLYJETS</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="telephone=no" name="format-detection">
        <meta name="HandheldFriendly" content="true">

        <!--[if (gt IE 9)|!(IE)]><!-->
        <link href="/css/main.css" rel="stylesheet" type="text/css">
        <!--<![endif]-->
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <script>
            (function(H) {
            	H.className = H.className.replace(/\bno-js\b/, 'js')
            })(document.documentElement)
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTtMUY96FwdCihu1z3Px4rEZQ6uKabQRU&amp;&amp;language=en" async defer></script>
    </head>

    <body>
        <div class="rootBox">
            <div class="page page--main js-scrollToMap openMap--half openMap--full">
                <div class="box box--mainBlock">
                    <div class="box__decor box__decor--1"></div>
                    <div class="box__decor box__decor--2"></div>
                    <div class="box__inner">
                        <div class="mainBlock">
                            <div class="mainBlock__header">
                                <div class="mainBlock__slogan">A jet aviation marketplace
                                    <br>and travel planning system</div>
                            </div>
                            <div class="mainBlock__content">
                                <div class="mainBlock__info mainBlock__info--1">
                                    <div class="mainBlock__info-title">For
                                        <br>flyers</div>
                                    <div class="mainBlock__info-text">Search and book aircraft,
                                        <br>flights, hotels and more</div>
                                </div>
                                <div class="mainBlock__logo js-mainLogo">
                                    <img src="/img/general/logo.png">
                                </div>
                                <div class="mainBlock__info mainBlock__info--2">
                                    <div class="mainBlock__info-title">For aircraft providers</div>
                                    <div class="mainBlock__info-text">Upload aircraft and
                                        <br>availability schedules</div>
                                </div>
                            </div>
                            <div class="mainBlock__button-wr"><a class="mainBlock__button js-popup" href="#loginPopup"><span class="text">Log in</span></a><a class="mainBlock__button mainBlock__button--active js-popup" href="#signUpPopup"><span class="text">Sign up</span></a>
                            </div>
                            <div class="mainBlock__contacts">
                                <div class="mainBlock__contacts-title">Call or email</div><a class="mainBlock__contacts-link" href="tel:+12128455137">+1 (212) 845-5137</a><a class="mainBlock__contacts-link" href="mailto:FLY@flyjets.com">FLY@flyjets.com</a>
                            </div>
                            <div class="mainBlock__footer">
                                <div class="mainBlock__version">in Alpha mode</div>
                                <div class="mainBlock__link js-clickToMap" data-mobile-text="Click here or swipe for map">Click here or scroll for map</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="box box--header">
                        <div class="box__inner">
                            <div class="header">
                                <div class="header__left" style="z-index:1;">
                                    <a class="header__logo goToUserHomePage" href="/app/main">
                                        <img src="/img/general/logo.png">
                                    </a>
                                </div>
                                <div class="header__center" style="position:absolute; margin-left:auto; margin-right:auto; left:0; right:0;">
                                    <div class="header__title">Privacy Policy</div>
                                </div>
                                <div class="header__button">
                                    <div class="dashboardMenuButton js-dashboard-menu-button"><span class="icon icon--open">
            <svg class="icon__menu" width="512px" height="512px">
                <use xlink:href="#menu"></use>
            </svg>
        </span><span class="icon icon--close">
            <svg class="icon__close" width="17px" height="17px">
                <use xlink:href="#close"></use>
            </svg>
        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content__inner">
                        <div class="box box--infoBlock">
                            <div class="box__inner">
                                <div class="infoBlock infoBlock--document infoBlock--terms">
                                    <div class="dashboardBlock__sidebar js-customScroll">
                                        <div class="dashboardBlock__nav">
                                            <div class="dashboardBlock__nav-item"><a class="dashboardBlock__nav-link" draggable="true" ondragstart="return dashboardDragStart(event)" href="flyerDashboard.html"><span class="dashboardBlock__nav-text">Dashboard</span></a>
                                            </div>
                                            <div class="dashboardBlock__nav-item"><a class="dashboardBlock__nav-link" draggable="true" ondragstart="return dashboardDragStart(event)" href="profileFlyerDashboard.html"><span class="dashboardBlock__nav-icon">
            <svg class="icon__user2" width="16px" height="16px">
                <use xlink:href="#user2"></use>
            </svg>
        </span><span class="dashboardBlock__nav-text">Profile</span></a>
                                            </div>
                                            <div class="dashboardBlock__nav-item"><a class="dashboardBlock__nav-link" draggable="true" ondragstart="return dashboardDragStart(event)" href="bookingListFlyerDashboard.html"><span class="dashboardBlock__nav-icon">
            <svg class="icon__ticket" width="23px" height="23px">
                <use xlink:href="#ticket"></use>
            </svg>
        </span><span class="dashboardBlock__nav-text">Booking list</span></a>
                                            </div>
                                            <div class="dashboardBlock__nav-item"><a class="dashboardBlock__nav-link" draggable="true" ondragstart="return dashboardDragStart(event)" href="flightsFlyerDashboard.html"><span class="dashboardBlock__nav-icon">
            <svg class="icon__distance" width="19px" height="19px">
                <use xlink:href="#distance"></use>
            </svg>
        </span><span class="dashboardBlock__nav-text">Flights<br><i>upcoming and history</i></span></a>
                                            </div>
                                            <div class="dashboardBlock__nav-item"><a class="dashboardBlock__nav-link" draggable="true" ondragstart="return dashboardDragStart(event)" href="settingsFlyerDashboard.html"><span class="dashboardBlock__nav-icon">
            <svg class="icon__locked" width="17px" height="17px">
                <use xlink:href="#locked"></use>
            </svg>
        </span><span class="dashboardBlock__nav-text">Settings & security</span></a>
                                            </div>
                                            <div class="dashboardBlock__nav-item"><a class="dashboardBlock__nav-link" draggable="true" ondragstart="return dashboardDragStart(event)" href="passIdFlyerDashboard.html"><span class="dashboardBlock__nav-icon">
            <svg class="icon__card" width="19px" height="19px">
                <use xlink:href="#card"></use>
            </svg>
        </span><span class="dashboardBlock__nav-text">Passenger identification</span></a>
                                            </div>
                                            <div class="dashboardBlock__nav-item"><a class="dashboardBlock__nav-link" draggable="true" ondragstart="return dashboardDragStart(event)" href="flyRewardsFlyerDashboard.html"><span class="dashboardBlock__nav-icon">
            <svg class="icon__giftbox" width="18px" height="18px">
                <use xlink:href="#giftbox"></use>
            </svg>
        </span><span class="dashboardBlock__nav-text">FLY<b>Rewards</b></span></a>
                                            </div>
                                            <div class="dashboardBlock__nav-item"><a class="dashboardBlock__nav-link" draggable="true" ondragstart="return dashboardDragStart(event)" href="paymentFlyerDashboard.html"><span class="dashboardBlock__nav-icon">
            <svg class="icon__wallet" width="18px" height="18px">
                <use xlink:href="#wallet"></use>
            </svg>
        </span><span class="dashboardBlock__nav-text">Payment information</span></a>
                                            </div>
                                            <div class="dashboardBlock__nav-item"><a class="dashboardBlock__nav-link" draggable="true" ondragstart="return dashboardDragStart(event)" href="alertsFlyerDashboard.html"><span class="dashboardBlock__nav-icon">
            <svg class="icon__alarm" width="17px" height="17px">
                <use xlink:href="#alarm"></use>
            </svg>
        </span><span class="dashboardBlock__nav-text">Route alerts</span></a>
                                            </div>
                                            <div class="dashboardBlock__nav-item"><a class="dashboardBlock__nav-link" draggable="true" ondragstart="return dashboardDragStart(event)" href="messagesFlyerDashboard.html"><span class="dashboardBlock__nav-icon">
            <svg class="icon__message" width="25px" height="25px">
                <use xlink:href="#message"></use>
            </svg>
        </span><span class="dashboardBlock__nav-text">Messages</span></a>
                                            </div>
                                            <div class="dashboardBlock__nav-item"><a class="dashboardBlock__nav-link" draggable="true" ondragstart="return dashboardDragStart(event)" href="requestsFlyerDashboard.html"><span class="dashboardBlock__nav-icon">
            <svg class="icon__discuss" width="17px" height="17px">
                <use xlink:href="#discuss"></use>
            </svg>
        </span><span class="dashboardBlock__nav-text">Requests</span></a>
                                            </div>
                                            <div class="dashboardBlock__nav-item"><a class="dashboardBlock__nav-link" draggable="true" ondragstart="return dashboardDragStart(event)" href="auctionsFlyerDashboard.html"><span class="dashboardBlock__nav-icon">
            <svg class="icon__auction" width="16px" height="16px">
                <use xlink:href="#auction"></use>
            </svg>
        </span><span class="dashboardBlock__nav-text">Auctions bids</span></a>
                                            </div>
                                            <div class="dashboardBlock__nav-item"><a class="dashboardBlock__nav-link" draggable="true" ondragstart="return dashboardDragStart(event)" href="seatsFlyerDashboard.html"><span class="dashboardBlock__nav-icon">
            <svg class="icon__ticket" width="23px" height="23px">
                <use xlink:href="#ticket"></use>
            </svg>
        </span><span class="dashboardBlock__nav-text">Sell seats</span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="documentInfo">
                                        <div class="documentInfo__title">Privacy Policy</div>
                                        <div class="documentInfo__content js-customScroll">
                                            <article>
                                                <p>This is the Privacy Policy of FLY I Corporation, which does business as FLYJETS, whose principal place of business is located at 225 Liberty Street Suite 1020A New York, NY 10281 (the "Company"). This Privacy
                                                    Policy applies to personal information and data that Company collects about you ("Personal Information") and information about your computer or mobile device ("Non-Personally Identifiable Information").
                                                    Such information may be collected by Company in connection with your use of Company's website, services, applications or platforms.</p>
                                                <p>Personal Information that may be collected may include, but is not limited to: name, address, flight information, contact information, billing information, credit/debit card number, trip information and
                                                    any other information you may be requested to provide by Company or voluntarily provide to Company. Company may use the Personal Information collected:</p>
                                                <ul>
                                                    <li>to submit a flight request to independent third party private aircraft operators,</li>
                                                    <li>to obtain quotes for flights for you,</li>
                                                    <li>to book a private flight for you,</li>
                                                    <li>to contact you,</li>
                                                    <li>in marketing communications,</li>
                                                    <li>to improve your website experience,</li>
                                                    <li>to understand our customers through sales and marketing research,</li>
                                                    <li>for Website usage (including but not limited to statistical analysis, sales and marketing research, tracking page views, activity and visitor navigation paths, marketing campaigns, and links from our
                                                        partners’ websites to our website),</li>
                                                    <li>to improve its services and platforms,</li>
                                                    <li>to contact you with updates to and information about its products and services,</li>
                                                    <li>to identify and prevent fraud,</li>
                                                    <li>to perform other activities as described in this Privacy Policy.</li>
                                                </ul>
                                                <p>Company's policy is not to give, sell or otherwise distribute the Personal Information collected to third parties outside of Company. Company will disclose your Personal Information for the purposes set
                                                    forth in this Privacy Policy or if required by law. Company may also share your information in response to subpoenas, court orders or to defend against legal claims or threatened claims. Company may
                                                    use third party service providers to assist in collecting, using or otherwise processing Personal Information for the purposes described in this Privacy Policy. These service providers are not allowed
                                                    to use the information that Company shares for any other purpose other than providing services to Company. Company's practice is to require its service providers to conduct activities on behalf of Company
                                                    in a manner consistent with this Privacy Policy.</p>
                                                <p>Company is not responsible or liable for the independent activities or privacy policies at third-party sites. You should consult the privacy policies and other terms and conditions at those sites to determine
                                                    how your information may be used. Once you have left our website any data you provide to a third party is subject to the privacy policy and practices of that third party. Company accepts no responsibility
                                                    for the content or use of third party websites.</p>
                                                <h2>Social Media</h2>
                                                <p>If you use social media accounts to access Company's platforms, you agree to allow Company access to certain components of your social media pages. Company may use widgets on these sites to collect information
                                                    such as your IP address to determine if the social media components of Company's platforms are functioning correctly. These widgets may be hosted by Company or a third-party provider.</p>
                                                <h2>Cookies and Web Beacons</h2>
                                                <p>A cookie is a series of data characters that, when programmed into a website, is placed by the web server into the browser's application folder on your computer. Once placed onto your machine, the cookie
                                                    will allow Company's platforms to "recognize" your computer or mobile device. A cookie may also be combined with a web beacon, which is an invisible image with a line of code which is placed within an
                                                    email message or on a web page. Web beacons inform Company if an intended recipient can receive email in an HTML format or only as a text message, whether the email message has been open or opened multiple
                                                    times, and if a display ad has been viewed or clicked through. This information is used to serve customized messaging to visitors to Company's platforms. Web beacons do not create, modify or delete files
                                                    on a user's machine.</p>
                                                <p>Non-personally Identifiable Information captured through these technologies may include the geo-location of your computer or mobile device, information about the specific pages you viewed while on the site,
                                                    the sequencing and duration of your views on those pages, the type of computer or mobile hardware you used to access the site, and the IP address of the hardware. The information collected is used to
                                                    provide Company with the capability to personalize information for users and remember any preferences that may have been set.</p>
                                                <p>Cookies can be removed depending on what type of web browser and what browser version you are using, you may be able to change the properties on your cookie file so that cookies are not used or saved. Check
                                                    with your browser provider for more information on removing cookies. If you refuse to accept cookies, you may not be able to access many of the tools offered on or through Company's platforms.</p>
                                                <h2>Non-personally Identifiable Information</h2>
                                                <p>Company also reserve the right to use and disclose data in aggregate form (i.e., Non-personally Identifiable Information) for statistical and other purposes in Company's sole discretion. Company may also
                                                    disclose data to third-party companies that provide support services such as web analytics. The information is provided in an aggregate form (i.e., Non-personally Identifiable Information) for statistical
                                                    and other purposes in Company's sole discretion. In addition, your Personal Information may be combined with non-personal information to customize your Company experience on Company's platforms.</p>
                                                <p>Each email sent contains an easy, automated way for you to stop receiving email, or to change your expressed interests. If you wish to do this, simply follow the instructions at the end of any email. If
                                                    you have received unwanted, unsolicited email sent via Company or purporting to be sent via Company, please forward a copy of that email with your comment to FLY@flyjets.com for review.</p>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="messageCenter js-message-center">
                        <div class="stub"><span class="stub__icon">
            <svg class="icon__rotate-phone" width="392px" height="392px">
                <use xlink:href="#rotate-phone"></use>
            </svg>
        </span><span class="stub__text">Please rotate your phone to be vertical</span>
                        </div>
                        <div class="messageCenter__bg js-message-center-close"></div>
                        <div class="messageCenter__header"><span class="text">Message Center</span><span class="icon js-message-center-close">
            <svg class="icon__close" width="17px" height="17px">
                <use xlink:href="#close"></use>
            </svg>
        </span>
                        </div>
                        <div class="messageCenter__inner">
                            <div class="messageCenter__chat js-customScroll" data-outside>
                                <div class="messageCenter__chat-item messageCenter__chat-item--inbox">
                                    <div class="messageCenter__chat-header">
                                        <div class="messageCenter__chat-avatar" style="background-image:url('/img/assets/dashboardBlock/tabs/world.png')"></div>
                                        <div class="messageCenter__chat-caption">
                                            <div class="messageCenter__chat-name">Message center</div>
                                            <div class="messageCenter__chat-time">3:30 PM</div>
                                        </div>
                                    </div>
                                    <div class="messageCenter__chat-content">
                                        <div class="messageCenter__chat-text">Welcome to FLYJETS! The messaging feature will be coming soon!</div>
                                    </div>
                                </div>
                                @* <div class="messageCenter__chat-item messageCenter__chat-item--sent">
                                    <div class="messageCenter__chat-header">
                                        <div class="messageCenter__chat-avatar" style="background-image:url('/img/content/avatar.jpg')"></div>
                                        <div class="messageCenter__chat-caption">
                                            <div class="messageCenter__chat-name">You</div>
                                            <div class="messageCenter__chat-time">3:50 PM</div>
                                        </div>
                                    </div>
                                    <div class="messageCenter__chat-content">
                                        <div class="messageCenter__chat-text">Hello!</div>
                                        <div class="messageCenter__chat-text">Flight exactly take place?</div>
                                    </div>
                                </div>
                                <div class="messageCenter__chat-item messageCenter__chat-item--inbox">
                                    <div class="messageCenter__chat-header">
                                        <div class="messageCenter__chat-avatar" style="background-image:url('/img/assets/dashboardBlock/tabs/world.png')"></div>
                                        <div class="messageCenter__chat-caption">
                                            <div class="messageCenter__chat-name">Message center</div>
                                            <div class="messageCenter__chat-time">4:00 PM</div>
                                        </div>
                                    </div>
                                    <div class="messageCenter__chat-content">
                                        <div class="messageCenter__chat-text">Yes, of course!</div>
                                        <div class="messageCenter__chat-text">Flight exactly take place?</div>
                                    </div>
                                </div>
                                <div class="messageCenter__chat-item messageCenter__chat-item--sent">
                                    <div class="messageCenter__chat-header">
                                        <div class="messageCenter__chat-avatar" style="background-image:url('/img/content/avatar.jpg')"></div>
                                        <div class="messageCenter__chat-caption">
                                            <div class="messageCenter__chat-name">You</div>
                                            <div class="messageCenter__chat-time">3:50 PM</div>
                                        </div>
                                    </div>
                                    <div class="messageCenter__chat-content">
                                        <div class="messageCenter__chat-text">Flight exactly take place?</div>
                                    </div>
                                </div>
                                <div class="messageCenter__chat-item messageCenter__chat-item--inbox">
                                    <div class="messageCenter__chat-header">
                                        <div class="messageCenter__chat-avatar" style="background-image:url('/img/assets/dashboardBlock/tabs/world.png')"></div>
                                        <div class="messageCenter__chat-caption">
                                            <div class="messageCenter__chat-name">Message center</div>
                                            <div class="messageCenter__chat-time">4:00 PM</div>
                                        </div>
                                    </div>
                                    <div class="messageCenter__chat-content">
                                        <div class="messageCenter__chat-text">Yes, of course!</div>
                                    </div>
                                </div> *@
                            </div>
                            <div class="messageCenter__form">
                                <form class="form form--messageCenter" action="" method="post" data-href="/" data-action="messageCenter" id="messageCenterForm" onsubmit="return false;">
                                    <label class="form__label form__label--text">
                                        <div class="form__field-wrapper">
                                            <textarea class="form__field" type="textarea" name="message" placeholder="Write a message..." autocomplete="off" required></textarea>
                                        </div>
                                    </label>
                                    <div class="form__label form__label--button">
                                        <button class="form__button" type="submit">
                                            <svg class="icon__send-button" width="27px" height="27px">
                                                <use xlink:href="#send-button"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="box box--footer">
                        <div class="box__inner">
                            <div class="footer">
                                <div class="footer__social">
                                    <div class="social">
                                        <a class="social__item" href="#">
                                            <svg class="icon__inst" width="31px" height="31px">
                                                <use xlink:href="#inst"></use>
                                            </svg>
                                        </a>
                                        <a class="social__item" href="#">
                                            <svg class="icon__tw" width="31px" height="31px">
                                                <use xlink:href="#tw"></use>
                                            </svg>
                                        </a>
                                        <a class="social__item" href="#">
                                            <svg class="icon__fb" width="31px" height="31px">
                                                <use xlink:href="#fb"></use>
                                            </svg>
                                        </a>
                                    </div><a class="footer__link" href="startScreenLogIn.html">FlyJets</a>
                                </div>
                                <div class="footer__nav">
                                    <div class="nav">
                                        <div class="nav__item"><a class="nav__link" href="/app/main">FlyJets</a>
                                        </div>
                                        <div class="nav__item"><a class="nav__link" href="/app/About">About us</a>
                                        </div>
                                        <div class="nav__item"><a class="nav__link" href="#">Contact</a>
                                        </div>
                                        <div class="nav__item"><a class="nav__link" href="/app/Disclaimer">Disclaimer</a>
                                        </div>
                                        <div class="nav__item nav__item--active"><a class="nav__link" href="/app/Privacy">Privacy policy</a>
                                        </div>
                                        <div class="nav__item "><a class="nav__link" href="/app/Terms">Terms and conditions</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer__message">
                                    <div class="messageCenterButton js-message-center-btn">
                                        <div class="messageCenterButton-icon">
                                            <svg class="icon__mail-footer" width="18px" height="18px">
                                                <use xlink:href="#mail-footer"></use>
                                            </svg>
                                        </div>
                                        <div class="messageCenterButton-text">Message center</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="formPopup" id="loginPopup">
            <div class="formPopup__inner">
                <div class="formPopup__left">
                    <div class="formPopup__decor"></div>
                </div>
                <div class="formPopup__right">
                    <div class="formPopup__subtitle">lets go!</div>
                    <div class="formPopup__title">Log in</div>
                    <div class="formPopup__form">
                        <form class="form form--login js-ajaxForm" action="" method="post" data-href="/json/test.json" data-action="login" id="loginForm" onsubmit="return false;">
                            <div class="spinner">
                                <div class="spinner__item"></div>
                                <div class="spinner__item"></div>
                                <div class="spinner__item"></div>
                                <div class="spinner__item"></div>
                                <div class="spinner__item"></div>
                                <div class="spinner__item"></div>
                                <div class="spinner__item"></div>
                                <div class="spinner__item"></div>
                            </div>
                            <label class="form__label form__label--text">
                                <div class="form__caption">Email</div>
                                <div class="form__field-wrapper">
                                    <input class="form__field" type="email" autocomplete="off" name="email" placeholder="Email address" required>
                                </div>
                            </label>
                            <label class="form__label form__label--text">
                                <div class="form__caption-wrapper">
                                    <div class="form__caption">Password</div><a class="form__link form__link--desktop js-popup" href="#forgotPasswordPopup">Forgot?</a>
                                </div>
                                <div class="form__field-wrapper">
                                    <input class="form__field" type="password" autocomplete="off" name="password" placeholder="Enter your password" required>
                                </div><a class="form__link form__link--mobile js-popup" href="#forgotPasswordPopup">Forgot?</a>
                            </label>
                            <div class="form__label form__label--button">
                                <button class="form__button" type="submit"><span class="text">Log in</span>
                                </button><a class="form__link js-popup" href="#signUpPopup">Sign up</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="formPopup" id="forgotPasswordPopup">
            <div class="formPopup__inner">
                <div class="formPopup__left"><a class="formPopup__back js-popup" href="#loginPopup"><span class="icon">
            <svg class="icon__left-arrow" width="24px" height="24px">
                <use xlink:href="#left-arrow"></use>
            </svg>
        </span><span class="text">Back to Log in</span></a>
                    <div class="formPopup__text">New password we will send you an email</div>
                    <div class="formPopup__text">Check mail</div>
                </div>
                <div class="formPopup__right">
                    <div class="formPopup__title">Forgot password</div>
                    <div class="formPopup__form">
                        <form class="form form--forgotPassword js-ajaxForm" action="" method="post" data-href="/" data-action="forgotPassword" id="forgotPasswordForm" onsubmit="return false;">
                            <div class="spinner">
                                <div class="spinner__item"></div>
                                <div class="spinner__item"></div>
                                <div class="spinner__item"></div>
                                <div class="spinner__item"></div>
                                <div class="spinner__item"></div>
                                <div class="spinner__item"></div>
                                <div class="spinner__item"></div>
                                <div class="spinner__item"></div>
                            </div>
                            <label class="form__label form__label--text">
                                <div class="form__caption">Email me</div>
                                <div class="form__field-wrapper">
                                    <input class="form__field" type="email" name="email" autocomplete="off" placeholder="Email address" required>
                                </div>
                            </label>
                            <div class="formPopup__text-wr">
                                <div class="formPopup__text">New password we will send you an email</div>
                                <div class="formPopup__text">Check mail</div>
                            </div>
                            <div class="form__label form__label--button">
                                <button class="form__button" type="submit"><span class="text">Send password</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="formPopup formPopup--signUp" id="signUpPopup">
            <div class="formPopup__inner">
                <div class="formPopup__left">
                    <div class="formPopup__decor"></div>
                </div>
                <div class="formPopup__right js-tabBox">
                    <div class="formPopup__header">
                        <div class="formPopup__title-wr">
                            <div class="formPopup__subtitle">Hello!</div>
                            <div class="formPopup__title">Sign&nbsp;up</div>
                        </div>
                        <div class="formPopup__tabNav">
                            <div class="formPopup__tabNav-item js-tabNavItem" data-id="flyer">Flyer</div>
                            <div class="formPopup__tabNav-item js-tabNavItem" data-id="aircraftProvider">Aircraft provider</div>
                        </div>
                    </div>
                    <div class="formPopup__tabContent">
                        <div class="formPopup__tabContent-item js-tabContentItem" data-id="flyer">
                            <form class="form form--signUpForm js-ajaxForm" action="" method="post" data-href="#" data-action="signUpFlyer" id="signUpFlyerForm" onsubmit="return false;">
                                <div class="spinner">
                                    <div class="spinner__item"></div>
                                    <div class="spinner__item"></div>
                                    <div class="spinner__item"></div>
                                    <div class="spinner__item"></div>
                                    <div class="spinner__item"></div>
                                    <div class="spinner__item"></div>
                                    <div class="spinner__item"></div>
                                    <div class="spinner__item"></div>
                                </div>
                                <div class="form__labelGroup">
                                    <label class="form__label form__label--text">
                                        <div class="form__caption">Name</div>
                                        <div class="form__field-wrapper">
                                            <input class="form__field" type="text" name="firstname" autocomplete="off" placeholder="First" required>
                                        </div>
                                    </label>
                                    <label class="form__label form__label--text">
                                        <div class="form__field-wrapper">
                                            <input class="form__field" type="text" name="middlename" autocomplete="off" placeholder="Middle" required>
                                        </div>
                                    </label>
                                    <label class="form__label form__label--text">
                                        <div class="form__field-wrapper">
                                            <input class="form__field" type="text" name="lastname" autocomplete="off" placeholder="Last" required>
                                        </div>
                                    </label>
                                    <label class="form__label form__label--text">
                                        <div class="form__caption">Email</div>
                                        <div class="form__field-wrapper">
                                            <input class="form__field" type="email" name="email" autocomplete="off" placeholder="Email address" required>
                                        </div>
                                    </label>
                                    <label class="form__label form__label--text phone">
                                        <div class="form__caption">Phone</div>
                                        <div class="form__field-wrapper">
                                            <input class="form__field" type="text" name="phone" autocomplete="off" placeholder="+1 (___) ___-__-__" required>
                                        </div>
                                    </label>
                                    <label class="form__label form__label--text">
                                        <div class="form__caption">Password</div>
                                        <div class="form__field-wrapper">
                                            <input class="form__field" type="password" name="password" autocomplete="off" placeholder="Enter your password" required>
                                        </div>
                                    </label>
                                    <label class="form__label form__label--text">
                                        <div class="form__caption">Confirm password</div>
                                        <div class="form__field-wrapper">
                                            <input class="form__field" type="password" name="confirmPassword" autocomplete="off" placeholder="Enter your password" required>
                                        </div>
                                    </label>
                                </div>
                                <div class="form__label form__label--button">
                                    <button class="form__button form__button" type="submit"><span class="text">Complete</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="formPopup__tabContent-item js-tabContentItem" data-id="aircraftProvider">
                            <form class="form form--signUpForm js-ajaxForm" action="" method="post" data-href="#" data-action="signUpAircraftProvider" id="signUpAircraftProviderForm" onsubmit="return false;">
                                <div class="spinner">
                                    <div class="spinner__item"></div>
                                    <div class="spinner__item"></div>
                                    <div class="spinner__item"></div>
                                    <div class="spinner__item"></div>
                                    <div class="spinner__item"></div>
                                    <div class="spinner__item"></div>
                                    <div class="spinner__item"></div>
                                    <div class="spinner__item"></div>
                                </div>
                                <div class="form__labelGroup">
                                    <label class="form__label form__label--text">
                                        <div class="form__caption">Name</div>
                                        <div class="form__field-wrapper">
                                            <input class="form__field" type="text" name="firstname" autocomplete="off" placeholder="First" required>
                                        </div>
                                    </label>
                                    <label class="form__label form__label--text">
                                        <div class="form__field-wrapper">
                                            <input class="form__field" type="text" name="middlename" autocomplete="off" placeholder="Middle" required>
                                        </div>
                                    </label>
                                    <label class="form__label form__label--text">
                                        <div class="form__field-wrapper">
                                            <input class="form__field" type="text" name="lastname" autocomplete="off" placeholder="Last" required>
                                        </div>
                                    </label>
                                    <label class="form__label form__label--text">
                                        <div class="form__caption">Company</div>
                                        <div class="form__field-wrapper">
                                            <input class="form__field" type="text" name="company" autocomplete="off" placeholder="Company name" required>
                                        </div>
                                    </label>
                                    <label class="form__label form__label--text phone">
                                        <div class="form__caption">Phone</div>
                                        <div class="form__field-wrapper">
                                            <input class="form__field" type="text" name="phone" autocomplete="off" placeholder="+1 (___) ___-__-__" required>
                                        </div>
                                    </label>
                                    <label class="form__label form__label--text">
                                        <div class="form__caption">Email</div>
                                        <div class="form__field-wrapper">
                                            <input class="form__field" type="email" name="email" autocomplete="off" placeholder="Email address" required>
                                        </div>
                                    </label>
                                    <label class="form__label form__label--text">
                                        <div class="form__caption">Confirm password</div>
                                        <div class="form__field-wrapper">
                                            <input class="form__field" type="password" name="confirmPassword" autocomplete="off" placeholder="Enter your password" required>
                                        </div>
                                    </label>
                                    <label class="form__label form__label--text">
                                        <div class="form__caption">Password</div>
                                        <div class="form__field-wrapper">
                                            <input class="form__field" type="password" name="password" autocomplete="off" placeholder="Enter your password" required>
                                        </div>
                                    </label>
                                    <label class="form__label form__label--text">
                                        <div class="form__info">Message that FlyJets are checking providers. Here you can specify how many days it will take</div>
                                    </label>
                                </div>
                                <div class="form__label form__label--button">
                                    <button class="form__button" type="submit"><span class="text">Complete</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script>
            var BrowserDetect = {
            	init: function () {
            		this.browser = this.searchString(this.dataBrowser) || "An unknown browser";
            		this.version = this.searchVersion(navigator.userAgent) || this.searchVersion(navigator.appVersion) || "an unknown version";
            		this.OS = this.searchString(this.dataOS) || "an unknown OS";
            	},
            	searchString: function (data) {
            		for (var i=0; i<data.length; i++) {
            
            			var dataString = data[i].string;
            			var dataProp = data[i].prop;
            
            			this.versionSearchString = data[i].versionSearch || data[i].identity;
            
            			if (dataString) {
            				if (dataString.indexOf(data[i].subString) != -1)
            				return data[i].identity;
            			} else if (dataProp)
            
            			return data[i].identity;
            		}
            	},
            	searchVersion: function (dataString) {
            		var index = dataString.indexOf(this.versionSearchString);
            
            		if (index == -1) return;
            
            		return parseFloat(dataString.substring(index+this.versionSearchString.length+1));
            	},
            	dataBrowser: [{
            		string: navigator.userAgent,
            		subString: "Chrome",
            		identity: "Chrome"
            	},{
            		string: navigator.userAgent,
            		subString: "OmniWeb",
            		versionSearch: "OmniWeb/",
            		identity: "OmniWeb"
            	},{
            		string: navigator.vendor,
            		subString: "Apple",
            		identity: "Safari",
            		versionSearch: "Version"
            	},{
            		prop: window.opera,
            		identity: "Opera",
            		versionSearch: "Version"
            	},{
            		string: navigator.vendor,
            		subString: "iCab",
            		identity: "iCab"
            	},{
            		string: navigator.vendor,
            		subString: "KDE",
            		identity: "Konqueror"
            	},{
            		string: navigator.userAgent,
            		subString: "Firefox",
            		identity: "Firefox"
            	},{
            		string: navigator.vendor,
            		subString: "Camino",
            		identity: "Camino"
            	},{
            		/* For Newer Netscapes (6+) */
            		string: navigator.userAgent,
            		subString: "Netscape",
            		identity: "Netscape"
            	},{
            		string: navigator.userAgent,
            		subString: "MSIE",
            		identity: "Internet Explorer",
            		versionSearch: "MSIE"
            	},{
            		string: navigator.userAgent,
            		subString: "Gecko",
            		identity: "Mozilla",
            		versionSearch: "rv"
            	},{
            		/* For Older Netscapes (4-) */
            		string: navigator.userAgent,
            		subString: "Mozilla",
            		identity: "Netscape",
            		versionSearch: "Mozilla"
            	}],
            	dataOS : [{
            		string: navigator.platform,
            		subString: "Win",
            		identity: "Windows"
            	},{
            		string: navigator.platform,
            		subString: "Mac",
            		identity: "Mac"
            	},{
            		string: navigator.userAgent,
            		subString: "iPhone",
            		identity: "iPhone/iPod"
            	},{
            		string: navigator.platform,
            		subString: "Linux",
            		identity: "Linux"
            	}]
            };
            
            BrowserDetect.init();
            
            //- console.log(BrowserDetect.browser);
            //- console.log(BrowserDetect.version);
            //- console.log(innerHTML=BrowserDetect.OS);
            
            if (BrowserDetect.browser == 'Safari') document.getElementsByTagName('html')[0].classList.add('safari');
            if (BrowserDetect.browser == 'Firefox') document.getElementsByTagName('html')[0].classList.add('firefox');
            
            var isEdge = /edge\/(\d+(\.\d+)?)/i.test(navigator.userAgent);
            if (isEdge) document.getElementsByTagName('html')[0].classList.add('edge');
        </script>
        <script src="/js/separate-js/jquery-3.2.1.min.js"></script>
        <script src="/js/main.js"></script>
    </body>

</html>
