
                                                    <div class="mapBlock__list-item js-sidebarListItem">
                                                        <div class="mapBlock__list-item-inner">
                                                            <ul class="mapBlock__list-item-row">
                                                                <li class="mapBlock__list-item-cell"><span class="mapBlock__list-item-title">Available:&ensp;</span><span class="mapBlock__list-item-value">12 apr</span>
                                                                </li>
                                                                <li class="mapBlock__list-item-cell"><span class="mapBlock__list-item-title">Aircraft:&ensp;</span><span class="mapBlock__list-item-value">Premier 1</span>
                                                                </li>
                                                            </ul>
                                                            <ul class="mapBlock__list-item-row">
                                                                <li class="mapBlock__list-item-cell mapBlock__list-item-cell--from"><span class="mapBlock__list-item-title">San Francisco&ensp;</span><span class="mapBlock__list-item-value"></span><span class="mapBlock__list-item-arrow">
            <svg class="icon__long-left-arrow" width="12px" height="12px">
                <use xlink:href="#long-left-arrow"></use>
            </svg>
        </span>
                                                                </li>
                                                                <li class="mapBlock__list-item-cell mapBlock__list-item-cell--to"><span class="mapBlock__list-item-title">New York&ensp;</span><span class="mapBlock__list-item-value"></span>
                                                                </li>
                                                            </ul>
                                                            <ul class="mapBlock__list-item-row">
                                                                <li class="mapBlock__list-item-cell"><span class="mapBlock__list-item-title">Passengers:&ensp;</span><span class="mapBlock__list-item-value">3</span>
                                                                </li>
                                                                <li class="mapBlock__list-item-cell mapBlock__list-item-cell--price"><span class="mapBlock__list-item-title">Current bid:&ensp;</span><span class="mapBlock__list-item-value">$3,200</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="mapBlock__list-item-back js-sidebarListItemDetail">
                                                            <div class="mapBlock__list-item-button-wr"><a class="mapBlock__list-item-button" href="searchResults.html">Book</a><a class="mapBlock__list-item-button" href="searchResults.html">BID</a>
                                                            </div>
                                                            <div class="mapBlock__list-item-info">
                                                                <div class="mapBlock__list-item-info-left">
                                                                    <ul class="mapBlock__list-item-info-list">
                                                                        <li class="mapBlock__list-item-info-list-item"><span class="mapBlock__list-item-info-list-title">category:&ensp;</span><span class="mapBlock__list-item-info-list-value">midsize</span>
                                                                        </li>
                                                                        <li class="mapBlock__list-item-info-list-item"><span class="mapBlock__list-item-info-list-title">speed:&ensp;</span><span class="mapBlock__list-item-info-list-value">600 M/H</span>
                                                                        </li>
                                                                        <li class="mapBlock__list-item-info-list-item"><span class="mapBlock__list-item-info-list-title">range:&ensp;</span><span class="mapBlock__list-item-info-list-value">2400 M</span>
                                                                        </li>
                                                                        <li class="mapBlock__list-item-info-list-item"><span class="mapBlock__list-item-info-list-title">capability:&ensp;</span><span class="mapBlock__list-item-info-list-value">400 kg</span>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="mapBlock__list-item-info-right" style="background-image:url('/img/assets/mapBlock/1.jpg')"></div>
                                                            </div>
                                                        </div>
                                                    </div>
