<div class="flightsDashboard__list-item">
    <div class="flightsDashboard__list-item-left">
        <div class="flightsDashboard__flight">
            <a class="flightsDashboard__flight-detail" href="bookingConfirmation.html">
                <span class="flightsDashboard__flight-detail-bg"></span><span class="flightsDashboard__flight-detail-icon">
                    <svg class="icon__more" width="20px" height="20px">
                        <use xlink:href="#more"></use>
                    </svg>
                </span>
            </a>
            <div class="flightsDashboard__flight-inner">
                <div class="flightsDashboard__flight-left">
                    <div class="flightsDashboard__flight-img" style="background-image:url('/img/assets/aircraftDetail/1.jpg')"></div>
                </div>
                <div class="flightsDashboard__flight-right">
                    <div class="flightsDashboard__flight-info">
                        <div class="flightsDashboard__flight-from">
                            <div class="flightsDashboard__flight-title departureName"></div>
                            <div class="flightsDashboard__flight-text departureDateAndTime"></div>
                        </div>
                        <div class="flightsDashboard__flight-separator">
                            <span class="duration"></span><span class="flightsDashboard__flight-separator-icon">
                                <svg class="icon__right-arrow" width="12px" height="22px">
                                    <use xlink:href="#right-arrow"></use>
                                </svg>
                            </span>
                        </div>
                        <div class="flightsDashboard__flight-to">
                            <div class="flightsDashboard__flight-title arrivalName"></div>
                            <div class="flightsDashboard__flight-text arrivalDateAndTime"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="flightsDashboard__list-item-right">
        <div class="flightsDashboard__passengers">
            <div class="flightsDashboard__passengers-item">
                <div class="flightsDashboard__passengers-avatar" style="background-image:url('/img/content/avatar.jpg')"></div>
                <div class="flightsDashboard__passengers-info">
                    <div class="flightsDashboard__passengers-name">Mary Jane Watson</div>
                    <div class="flightsDashboard__passengers-email">marymary@gmail.com</div>
                    <div class="flightsDashboard__passengers-seat">
                        <span class="flightsDashboard__passengers-seat-title">Seat number:&ensp;</span><span class="flightsDashboard__passengers-seat-num">GHDN45</span>
                    </div>
                </div>
            </div>
            <div class="flightsDashboard__passengers-item">
                <div class="flightsDashboard__passengers-avatar" style="background-image:url('/img/content/avatar-2.jpg')"></div>
                <div class="flightsDashboard__passengers-info">
                    <div class="flightsDashboard__passengers-name">Rebecca Gellar</div>
                    <div class="flightsDashboard__passengers-email">rebecca55@gmail.com</div>
                    <div class="flightsDashboard__passengers-seat">
                        <span class="flightsDashboard__passengers-seat-title">Seat number:&ensp;</span><span class="flightsDashboard__passengers-seat-num">GHDN45</span>
                    </div>
                </div>
            </div>
            <div class="flightsDashboard__passengers-item">
                <div class="flightsDashboard__passengers-avatar" style="background-image:url('/img/content/avatar-3.jpg')"></div>
                <div class="flightsDashboard__passengers-info">
                    <div class="flightsDashboard__passengers-name">Wilgelm Ron</div>
                    <div class="flightsDashboard__passengers-email">111@gmail.com</div>
                    <div class="flightsDashboard__passengers-seat">
                        <span class="flightsDashboard__passengers-seat-title">Seat number:&ensp;</span><span class="flightsDashboard__passengers-seat-num">GHDN45</span>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>