<a class="flightsDashboard__history-row" href="bookingConfirmation.html">
    <div class="flightsDashboard__history-cell">1</div>
    <div class="flightsDashboard__history-cell">12345</div>
    <div class="flightsDashboard__history-cell">02/03/2019</div>
    <div class="flightsDashboard__history-cell">Teterboro Airport</div>
    <div class="flightsDashboard__history-cell">
        Orlando International airport
        <div class="flightsDashboard__history-detail">
            <svg class="icon__more" width="20px" height="20px">
                <use xlink:href="#more"></use>
            </svg>
        </div>
    </div>
</a>