<div class="profileDashboard__members-item js-acc-item js-members-item">
    <div class="profileDashboard__members-item-top">
        <a class="profileDashboard__members-item-remove js-removeMemebers" data-mid="" href="#questionPopup">
            <svg class="icon__close" width="17px" height="17px">
                <use xlink:href="#close"></use>
            </svg>
        </a>
        <div class="profileDashboard__members-item-top-inner js-acc-title">
            <div class="profileDashboard__members-item-avatar">
                <svg class="icon__aeroplane2" width="21px" height="21px">
                    <use xlink:href="#aeroplane2"></use>
                </svg>
                <div class="profileDashboard__members-item-avatar-back">
                    <svg class="icon__plus" width="44px" height="44px">
                        <use xlink:href="#plus"></use>
                    </svg>
                </div>
            </div>
            <div class="profileDashboard__members-item-info">
                <div class="profileDashboard__members-item-name"></div>
                <div class="profileDashboard__members-item-descr"></div>
            </div>
            <div class="profileDashboard__members-item-contacts">
                <div class="profileDashboard__members-item-phone"></div>
                <div class="profileDashboard__members-item-email"></div>
            </div>
        </div>
    </div>
    <div class="profileDashboard__members-item-bottom js-acc-content">
        <div class="profileDashboard__members-item-bottom-inner">
            <div class="profileDashboard__members-item-birth">
                <span class="profileDashboard__members-item-birth-title">Birth:</span><span class="profileDashboard__members-item-birth-value"></span>
            </div>
            <div class="profileDashboard__members-item-address">
                <span class="profileDashboard__members-item-address-title">Address:</span><span class="profileDashboard__members-item-address-value"></span>
            </div>
        </div>
    </div>
</div>