<div class="mapBlock__results-list-item js-sidebarListItem">
    <div class="mapBlock__results-list-item-inner">
        <div class="mapBlock__results-list-item-column">
            <a class="mapBlock__results-list-item-img aircraftImageUrl">
                <span class="mapBlock__results-list-item-img-back">
                    <svg class="icon__zoom" width="44px" height="44px">
                        <use xlink:href="#zoom"></use>
                    </svg>
                </span>
            </a>
        </div>
        <div class="mapBlock__results-list-item-column">
            <ul class="mapBlock__results-list-item-route">
                <li>
                    <div class="mapBlock__results-list-item-title">Out</div>
                    <div class="mapBlock__results-list-item-text departureName"></div>
                </li>
                <li>
                    <div class="mapBlock__results-list-item-arrow">
                        <svg class="icon__long-left-arrow" width="12px" height="12px">
                            <use xlink:href="#long-left-arrow"></use>
                        </svg>
                    </div>
                </li>
                <li>
                    <div class="mapBlock__results-list-item-title">In</div>
                    <div class="mapBlock__results-list-item-text arrivalName"></div>
                </li>
            </ul>
        </div>
        <div class="mapBlock__results-list-item-column">
            <div class="mapBlock__results-list-item-title">Aircraft model</div>
            <div class="mapBlock__results-list-item-text aircraftModel"></div>
        </div>
        <div class="mapBlock__results-list-item-column">
            <div class="mapBlock__results-list-item-title">Aicraft type</div>
            <div class="mapBlock__results-list-item-text aircraftType"></div>
        </div>
        <div class="mapBlock__results-list-item-column">
            <div class="mapBlock__results-list-item-title">Safety rating</div>
            <div class="mapBlock__results-list-item-text safetyRating"></div>
        </div>
        <div class="mapBlock__results-list-item-column">
            <div class="mapBlock__results-list-item-title">Fuel stops</div>
            <div class="mapBlock__results-list-item-text"></div>
        </div>
        <div class="mapBlock__results-list-item-column">
            <div class="mapBlock__results-list-item-title">Max pax</div>
            <div class="mapBlock__results-list-item-text aircraftPax"></div>
        </div>
        <div class="mapBlock__results-list-item-column">
            <div class="mapBlock__results-list-item-title">Estimated trip time</div>
            <div class="mapBlock__results-list-item-text estimatedTripTime"></div>
        </div>
        <div class="mapBlock__results-list-item-column mapBlock__results-list-item-column--price">
            <div class="mapBlock__results-list-item-title">Estimated Price</div>
            <div class="mapBlock__results-list-item-text totalPrice"></div>            
        </div>
        <div class="mapBlock__results-list-item-column">
            <a class="mapBlock__results-list-item-button mapBlock__results-list-item-button--green bookBtn"></a>
        </div>
    </div>
    <div class="mapBlock__results-list-item-detail js-sidebarListItemDetail">
        <div class="mapBlock__results-list-item-detail-inner">
            <div class="mapBlock__results-list-item-detail-column">
                <div class="mapBlock__results-list-item-detail-title">Speed:</div>
                <div class="mapBlock__results-list-item-detail-text aircraftSpeed"></div>
            </div>
            <div class="mapBlock__results-list-item-detail-column">
                <div class="mapBlock__results-list-item-detail-title">Range:</div>
                <div class="mapBlock__results-list-item-detail-text aircraftRange"></div>
            </div>
            <div class="mapBlock__results-list-item-detail-column">
                <div class="mapBlock__results-list-item-detail-title">Payload (max fuel):</div>
                <div class="mapBlock__results-list-item-detail-text"></div>
            </div>
            <div class="mapBlock__results-list-item-detail-column">
                <div class="mapBlock__results-list-item-detail-title">Wi-fi onboarding:</div>
                <div class="mapBlock__results-list-item-detail-text hasWifi"></div>
            </div>
            <div class="mapBlock__results-list-item-detail-column">
                <div class="mapBlock__results-list-item-detail-title">TVS:</div>
                <div class="mapBlock__results-list-item-detail-text teleNum"></div>
            </div>
            <div class="mapBlock__results-list-item-detail-column mapBlock__results-list-item-detail-column--status bookableDemo">
                <div class="mapBlock__results-list-item-detail-icon">
                    <svg class="icon__checked" width="19px" height="19px" fill="#FFFFFF">
                        <use xlink:href="#checked"></use>
                    </svg>
                </div>
                <div class="mapBlock__results-list-item-detail-title"> Bookable Demo</div>
            </div>
        </div>
    </div>
</div>
