<div class="dashboardBlock__content" ondragenter="return dashboardDragEnter(event)" ondrop="return dashboardDragDrop(event)" ondragover="return dashboardDragOver(event)">
  <div class="bookingDashboard bookingDashboard--flyer bookingDashboard--list">
    <div class="bookingDashboard__header">
      <div class="bookingDashboard__title">Bookings list</div>
    </div>
    <div class="bookingDashboard__table">
      <div class="bookingDashboard__table-header">
        <div class="bookingDashboard__table-cell">Number</div>
        <div class="bookingDashboard__table-cell">Flyer Name</div>
        <div class="bookingDashboard__table-cell">Booking Date</div>
      </div>
      <div class="bookingDashboard__table-body js-customScroll">
      </div>
    </div>
  </div>
</div>
