<div class="dashboardBlock__content js-customScroll" ondragenter="return dashboardDragEnter(event)" ondrop="return dashboardDragDrop(event)" ondragover="return dashboardDragOver(event)">
    <div class="tabsDashboard">
        <div class="tabsDashboard__header">
            <div class="tabsDashboard__title">Customize your dashboard</div>
            <div class="tabsDashboard__text">You can put any desired tab on the dashboard. Just drag it from the left vertical menu</div>
        </div>
        <ul class="tabsDashboard__content js-tab-list">
            <li class="tabsDashboard__tab tabsDashboard__tab--add">
                <div class="tabsDashboard__add js-acc-item">
                    <div class="tabsDashboard__add-header js-acc-title">
                        <div class="tabsDashboard__add-title">add new tab</div>
                        <div class="tabsDashboard__add-icon">
                            <svg width="17" height="17" viewBox="0 0 17 17">
                                <path d="M8.5 0C3.81323 0 0 3.8129 0 8.5C0 13.1871 3.81323 17 8.5 17C13.1868 17 17 13.1871 17 8.5C17 3.8129 13.1868 0 8.5 0ZM8.5 16.3462C4.17383 16.3462 0.653846 12.8262 0.653846 8.5C0.653846 4.17383 4.17383 0.653846 8.5 0.653846C12.8262 0.653846 16.3462 4.17383 16.3462 8.5C16.3462 12.8262 12.8262 16.3462 8.5 16.3462Z"></path>
                                <circle cx="8.5" cy="8.5" r="8.5"></circle>
                                <path d="M12.5859 8.17308H8.82632V4.57692C8.82632 4.39613 8.67986 4.25 8.4994 4.25C8.31894 4.25 8.17248 4.39613 8.17248 4.57692V8.17308H4.41286C4.2324 8.17308 4.08594 8.31921 4.08594 8.5C4.08594 8.68079 4.2324 8.82692 4.41286 8.82692H8.17248V12.75C8.17248 12.9308 8.31894 13.0769 8.4994 13.0769C8.67986 13.0769 8.82632 12.9308 8.82632 12.75V8.82692H12.5859C12.7664 8.82692 12.9129 8.68079 12.9129 8.5C12.9129 8.31921 12.7664 8.17308 12.5859 8.17308Z"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="tabsDashboard__add-content js-acc-content">
                        <div class="tabsDashboard__add-list">
                            <div class="tabsDashboard__add-list-item js-tab-add" data-type="profile">
                                <span class="tabsDashboard__add-list-icon">
                                    <svg class="icon__user2" width="16px" height="16px">
                                        <use xlink:href="#user2"></use>
                                    </svg>
                                </span><span class="tabsDashboard__add-list-text">Profile</span>
                            </div>
                            <div class="tabsDashboard__add-list-item js-tab-add" data-type="personnel">
                                <span class="tabsDashboard__add-list-icon">
                                    <svg class="icon__pilot-hat" width="18px" height="18px">
                                        <use xlink:href="#pilot-hat"></use>
                                    </svg>
                                </span><span class="tabsDashboard__add-list-text">Personnel</span>
                            </div>
                            <div class="tabsDashboard__add-list-item js-tab-add" data-type="fleet">
                                <span class="tabsDashboard__add-list-icon">
                                    <svg class="icon__plane-provider" width="19px" height="19px">
                                        <use xlink:href="#plane-provider"></use>
                                    </svg>
                                </span><span class="tabsDashboard__add-list-text">Fleet</span>
                            </div>
                            <div class="tabsDashboard__add-list-item js-tab-add" data-type="charterUploads">
                                <span class="tabsDashboard__add-list-icon">
                                    <svg class="icon__calendar-aircraft" width="19px" height="19px">
                                        <use xlink:href="#calendar-aircraft"></use>
                                    </svg>
                                </span><span class="tabsDashboard__add-list-text">Charter availability uploads</span>
                            </div>
                            <div class="tabsDashboard__add-list-item js-tab-add" data-type="flightUploads">
                                <span class="tabsDashboard__add-list-icon">
                                    <svg class="icon__calendar-checked" width="19px" height="19px">
                                        <use xlink:href="#calendar-checked"></use>
                                    </svg>
                                </span><span class="tabsDashboard__add-list-text">Flight availability uploads</span>
                            </div>
                            <div class="tabsDashboard__add-list-item js-tab-add" data-type="booking">
                                <span class="tabsDashboard__add-list-icon">
                                    <svg class="icon__confirm" width="22px" height="22px">
                                        <use xlink:href="#confirm"></use>
                                    </svg>
                                </span><span class="tabsDashboard__add-list-text">Booking confirmation</span>
                            </div>
                            <div class="tabsDashboard__add-list-item js-tab-add" data-type="flights">
                                <span class="tabsDashboard__add-list-icon">
                                    <svg class="icon__distance" width="19px" height="19px">
                                        <use xlink:href="#distance"></use>
                                    </svg>
                                </span><span class="tabsDashboard__add-list-text">Flights</span>
                            </div>
                            <div class="tabsDashboard__add-list-item js-tab-add" data-type="flyRewards">
                                <span class="tabsDashboard__add-list-icon">
                                    <svg class="icon__giftbox" width="18px" height="18px">
                                        <use xlink:href="#giftbox"></use>
                                    </svg>
                                </span><span class="tabsDashboard__add-list-text">FLY<b>Rewards</b></span>
                            </div>
                            <div class="tabsDashboard__add-list-item js-tab-add" data-type="payment">
                                <span class="tabsDashboard__add-list-icon">
                                    <svg class="icon__wallet" width="18px" height="18px">
                                        <use xlink:href="#wallet"></use>
                                    </svg>
                                </span><span class="tabsDashboard__add-list-text">Payment and bank info</span>
                            </div>
                            <div class="tabsDashboard__add-list-item js-tab-add" data-type="messages">
                                <span class="tabsDashboard__add-list-icon">
                                    <svg class="icon__message" width="25px" height="25px">
                                        <use xlink:href="#message"></use>
                                    </svg>
                                </span><span class="tabsDashboard__add-list-text">Messages</span>
                            </div>
                            <div class="tabsDashboard__add-list-item js-tab-add" data-type="requests">
                                <span class="tabsDashboard__add-list-icon">
                                    <svg class="icon__discuss" width="17px" height="17px">
                                        <use xlink:href="#discuss"></use>
                                    </svg>
                                </span><span class="tabsDashboard__add-list-text">Requests</span>
                            </div>
                            <div class="tabsDashboard__add-list-item js-tab-add" data-type="auctions">
                                <span class="tabsDashboard__add-list-icon">
                                    <svg class="icon__auction" width="16px" height="16px">
                                        <use xlink:href="#auction"></use>
                                    </svg>
                                </span><span class="tabsDashboard__add-list-text">Auctions bids and offers</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>